@charset "utf-8";
/* CSS Document */

@import url("fonts.css");
/**** RESET CSS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/


/**** RESET CLASSES
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
main:after, .wrapper:after, footer:after, header:after {
	content:"";
	display:block;
	clear:both;
}
a:focus, a:active{outline:none}
a:hover{ text-decoration:none}
/**** FONT SIZE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.f-size11{ font-size:11px;}
.f-size16{ font-size:16px;}
.f-size18{ font-size:18px;}

/**** PADDINGS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
/*Padding Left*/
.p-left10{ padding-left:10px}

/*Padding Right*/
.p-right10{ padding-right:10px}

/*Padding Top*/
.p-top10{ padding-top:10px}

/*Padding Bottom*/
.p-bottom10{ padding-bottom:10px}


/**** MARGINS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
/*Margin Left*/
.m-left10{ margin-left:10px}

/*Margin Right*/
.m-right10{ margin-right:10px;}

/*Margin Top*/
.m-top50{ margin-top:50px}

/*Margin Bottom*/
.m-bottom50{ margin-bottom:50px}