@charset "utf-8";
/* CSS Document */


/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}


@media (max-width: 1200px){

	
}

@media (max-width: 992px) {

}

/* Collapse oversized image and pulled images after iPad breakpoint. */

@media (max-width: 768px) {	
.navbar-toggle {
	background-color:#fff; margin-top: 20px;
}

header .logo{ width:172px;}

.container-fluid>.navbar-collapse{ position:relative;}

}

@media (max-width: 480px) {
	
}


/* Mobile devices */
@media (max-width: 359px) { 

}

/**
 * 9.0 Print
 * ----------------------------------------------------------------------------
 */

/* Retina-specific styles. */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

}

@media print {

}
