 @charset "utf-8";
/* CSS Document */

* {
	magin:0;
	padding:0;
	-webkit-box-sizing:  border-box;
	-moz-box-sizing:  border-box;
	box-sizing:  border-box;
}
html, body, table, th, td, tr, tbody, thead, thead, tfoot, dl, dt, dd, div, em, strong, b, i, sub, sup, ul, ol, li, span, applet, object, iframe, pre, blockquote, a, abbr, acronym, address, big, small, cite, code, del, dfn, font, ins, kbd, q, s, samp, strike, fieldset, form, label, legend, caption, main, section, header, footer, aside, hgroup {
	font-style:normal;
	font-weight:normal;
	font-family:inherit;
	font-size:inherit;
	text-decoration:none;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
::-webkit-input-placeholder {
 color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
 color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #ccc;
}

:-ms-input-placeholder {
 color: #ccc;
}
input {
}
textarea {
	resize:none;
}
select {
}
img {
	max-width:100%;
	vertical-align:bottom;
	border:none
}
body {
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	color:#6c6c6c;
	background:#fff; padding-top:70px;
}
a, a:hover, a:visited, a:active, a:focus {
	text-decoration:none;
}
h3 {
	color:#000;
	font-size:20px;
	margin:10px 0;
}
/**** DEFAULT
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
body {
	overflow-x: hidden;
	padding-right:0 !important
}
.bg-grey {
	background:#f4f4f4;
}
.bg-info {
	background:#2aa60a;
	color:#fff;
	font-weight:700;
	font-size:18px;
	padding-top:5px;
	padding-bottom:2px
}
a.bg-info:focus, a.bg-info:hover {
	background:#24e99d;
	color:#fff
}
.btn-primary {
	background:#24e99d;
	color:#fff;
	border-color:#20cf8c;
	font-weight:700;
	font-size:18px;
	padding-bottom:1px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus {
	background:#fff;
	color:#24e99d;
	border-color:#20cf8c;
}
* {
	margin:0px;
	padding:0px;
}
/**** HEADER
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
header {
	border-bottom:1px solid #2aa60a;
}
header .navbar-default {
	background-color: transparent;
	border:none;
}
header.home-header {
	border-bottom:0;
}
/**** LOG IN PAGE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.login-bg a:hover {
	color:#2aa60a;
}
/*.login-bg{   Set rules to fill background 
  min-height: 100%;
  min-width: 1024px;
	background: url(../images/login.jpg) no-repeat center top;  background-size: cover; background-attachment:fixed; position:relative;
   
  width: 100%;
  height: 100vh; 
 
}*/
.login-bg header {
	background:none;
	border-bottom:none;
	padding-top:24px;
	margin-bottom:45px;
	position:relative;
	z-index:99;
}
.login-bg header ul li {
	margin-right:25px;
}
.login-bg header ul li:last-child {
	margin-right:0px;
}
.login-bg header ul li a {
	color:#fff;
	font-size:20px;
	font-weight:500;
}
.login-bg .login-box {
	max-width:510px;
	background-color:rgba(255, 255, 255, 0.8);
	margin:auto;
	margin:auto;
	text-align:center;
	padding-top:26px;
	padding-bottom:20px;
}
.login-bg .login-box form {
	padding-top:30px;
	padding-left:50px;
	padding-right:50px;
}
.login-bg .login-box form input {
	width:100%;
	height:45px;
	border-radius:0px;
	border: 1px solid #c2bebe;
	line-height:40px;
}
 .login-bg .login-box form input::-webkit-input-placeholder {
font-size:24px;
color:#c2bdbd;
font-weight:300;
}
.login-bg .login-box form input::-moz-placeholder {
font-size:24px;
color:#c2bdbd;
font-weight:300;
}
.login-bg .login-box form input:-moz-placeholder {   /* Older versions of Firefox */
font-size:24px;
color:#c2bdbd;
font-weight:300;
}
.login-bg .login-box form input:-ms-input-placeholder {
font-size:24px;
color:#c2bdbd;
font-weight:300;
}
.login-bg .login-box form button {
	padding:8px 0px;
	border:none;
	font-size:22px;
	font-weight:500;
}
.login-bg .login-box form button.fb-btn {
	background-color:#3b5992;
	color:#fff;
	font-weight:500;
	margin-bottom:20px;
	margin-top:12px;
}
.login-bg .login-box form button.fb-btn img {
	margin-bottom:2px;
	vertical-align:middle;
}
.login-bg .login-box p {
	font-size:13px;
	color:#000;
	margin:0px;
}
.login-bg .login-box p a {
	color:#161ab0;
}
.login-bg .login-box {
	margin-bottom:63px;
}
.login-bg .login-box span {
	font-size:24px;
	color:#000;
	font-weight:300;
}
.login-bg .login-box span:after {
	background: #000 none repeat scroll 0 0;
	bottom: 10px;
	content: "";
	display: inline-block;
	height: 1px;
	margin-left: 10px;
	vertical-align: middle;
	width: 44%;
}
.login-bg .login-box span:before {
	background: #000 none repeat scroll 0 0;
	content: "";
	display: inline-block;
	height: 1px;
	margin-right: 10px;
	vertical-align: middle;
	width: 44%;
}
/*---------------footer--------------------*/
.login-bg footer {
	padding-bottom:20px;
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:transparent;
	z-index:999;
}
.login-bg footer ul {
	margin:0px;
}
.login-bg footer ul li i {
	color:#fff;
}
.login-bg footer ul li i:hover {
	color:#2aa60a;
	cursor:pointer;
}
.login-bg footer nav ul {
	padding-top:25px;
}
.login-bg footer nav ul li a {
	color:#fff;
	font-size:18px;
	font-weight:500;
}
.login-bg footer nav ul li {
	margin-right:8px;
}
.login-bg footer p, .login-bg footer p a {
	text-align:right;
	font-size:16px;
	color:#fff;
	font-weight:300;
	margin:0px;
}
.login-bg .download_oapp {
	margin-top:50px;
}
.login-bg .download_oapp h2 {
	color:#fff;
	font-size:35px;
	font-weight:bold;
}
.login-bg .app_download {
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:99;
}
.login-bg .back_div {
	position:absolute;
	z-index:9;
	background-color:rgba(0, 0, 0, .3);
	left:0px;
	right:0px;
	bottom:0px;
	top:0px;
}
/*=========header=====
============================*/
header {
	background-color:#fff;
}
header nav ul li a {
	color:#000;
	font-size:16px;
	font-weight:300;
	padding:30px 10px;
	display:inline-block;
	position:relative;
	z-index:99;
}
/*header nav ul li a:after{ content:''; display:block; background-color:#2aa60a; position: absolute; left:0px; right:0px; top:0px; width:100%; height:0px; -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s; z-index:-1;}*/
/*header nav ul li a:hover:after{ height:100%;}*/
header nav ul li a:hover {
	color:#000 !important;
}
header .logo {
	width:200px;
	float:left;
}
header nav ul {
	margin-bottom:0px;
}
footer {
	background-color:#327d1e;
	padding:20px 0px;
}
footer ul li i, footer ul li a, footer p, footer p a {
	color:#fff;
}
#accordion {
	margin-top:50px;
}
header.home-header {
	position:fixed;
	left:0;
	right:0;
	top:0;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:11; -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.84); 
box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.84);
}
.logo img {
	width: 100%;
	padding: 10px 30px;
}
.navbar-toggle .icon-bar {
	background-color:#000;
}

header.home-header .navbar-header img {
	background-color:transparent;
	margin-left:0;
}
header .navbar {
	margin-bottom:0;
	-webkit-box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.62);
	box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.62);
	background-color:#fff;
	border-radius:0;
}
header.home-header .navbar {
	box-shadow:none;
}
header .navbar-right {
	margin-top:20px;
	position:relative;
}
header.home-header .navbar-right {
	background-color: transparent;
}
header.home-header .navbar-right:before {
	display:none;
}
.nav>li>a {
	margin: 0 5px;
	padding-top: 20px;
	padding-bottom: 19px;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
	color:#fff;
}
.hfb {
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	background-color: pink;
}
/**** cntct_us
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.cntct_us {
}
.cntct_us .cntct-form {
	padding-top:50px;
}
.cntct_us .cntct-form textarea {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	height: 100px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}
.cntct_us .cntct-form input {
	height:42px;
}
.cntct_us .cntct-form select {
	height:42px;
}
.cntct_us .cntct-form input[type="submit"] {
	margin:auto;
	width:150px;
	color:#fff;
	background-color:#2aa60a;
	border:none;
}
.contct-link .col-sm-5:after {
	content:'';
	color:#000;
	width:1px;
	height:50px;
}
.contct-link .col-sm-5:last-child {
	border-right:none;
	padding-right:0px;
}
.contct-link i {
	margin-right:10px;
	margin-left:10px;
	color:#000;
	font-size:20px;
}
.contct-link a {
	font-size:20px;
	color:#000;
}
.contct-link ul li {
	list-style:none;
	margin:25px 0 20px;
	background:#eee;
	padding:5px;
	border-radius:7px;
}
/*========privacy_pg===========
======================================*/
#privacy_pg {
	padding:30px 0px;
}
#privacy_pg .privacy_div h5 {
	font-size:20px;
	font-weight:bold;
}
#privacy_pg .privacy_div p {
	font-size:16px;
}
#privacy_pg .privacy_div {
	padding:20px 0px;
	border-bottom:1px solid #ddd;
}
/*==========faq_pg==========
==================================*/
#faq_pg {
	padding:30px 0;
}
#faq_pg .panel-default>.panel-heading a.collapsed {
	background-color: #323539;
}
#faq_pg .panel-default>.panel-heading {
	background-color:transparent;
	border:none;
	padding:0px;
}
#faq_pg .panel-default>.panel-heading a {
	background-color:#474747;
	display:block;
	padding:10px;
	color:#fff;
}
.faq-head {
	background:url(../images/bread.png) no-repeat center bottom;
	background-size:cover;
	height:241px;
	padding-top:4%;
}
/*==========slider-sec==========
==================================*/	
	
#slider {
	position:relative;
	
	margin-bottom:50px;
}
.navbar-default .navbar-nav>li>a {
	color:#fff;
	font-size: 20px;
	font-weight: 300;
}
h2.sub-heading {
	text-align:center;
	position:relative;
}
.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 10px;
	position: absolute;
	left: 50%;
	bottom: 10px;
}
h2.sub-heading:after {
	background:url(../images/leaf.png)repeat center top;
	content:"";
	display:block;
	clear:both;
	width:222px;
	height:32px;
	margin: 10px auto 30px;
}
/*==========Distribute-sec==========
==================================*/

#Distribute-sec {
	padding:30px 0 40px;
}
.distribute-block {
	

	text-align: center;
    border: 2px dotted #ccc;
    padding: 20px;
    min-height: 335px;
}
.distribute-block:hover{ border-color:#060; -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.42);
-moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.42);
box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.42); }

.distribute-block p {
	text-align:justify;
	color:#333;
	-moz-text-align-last: center; /* For Firefox prior 58.0 */
	text-align-last: center;
}
.m-top-30 {
	margin-top:30px;
}
/*==========produce-sec==========
==================================*/
#produce-sec {
	padding:30px 0;
}
.produce {
	/*background:url(../images/produce-banner.png) no-repeat center top fixed;
	background-size:cover;
	height:540px;*/
}
.produce-bg {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+41,ffffff+41,ffffff+100&1+1,1+43,0+100 */
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 41%, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 41%, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 41%, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1 ); /* IE6-9 */
	height:100%;
}
.produce-list li {
	list-style:none;
	position:relative;
	padding-left:75px;
	margin-bottom:10px;
}
.produce-list-steps {
	content: "";
    display: inline-block;
    clear: both;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -7px;
    background-color: #f5f5ef;
    color: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 30px;
    border: 2px solid #094;
}
/*==========consume-sec==========
==================================*/	
#consume-sec {
	background:url(../images/consume-banner.jpg) no-repeat center top fixed;
	background-size:cover;
	height:500px;
	background-attachment:fixed;
}
.consume-sec-bg {
	background:rgba(0, 0, 0, 0.5);
	height:100%;
	padding:30px 0;
}
.consume-block h3, .consume-block p {
	text-align:center;
	color:#fff;
}
#consume-sec h2.sub-heading {
	color:#fff;
}
.consume-icon {
	width:100px;
	height:100px;
	border:2px solid #fff;
	border-radius:50%;
	text-align:center;
	margin:auto;
	line-height:75px;
}
.consume-icon img {
	width:60%;
}
/*==========page-about-sec==========
==================================*/
#page-about {
	background:url(../images/produce-banner.png) no-repeat center top fixed;
	background-size:cover;
	height:auto;
}
.page-about-bg {
	background:rgba(255, 255, 255, 0.8);
	height:100%;
	padding:30px 0;
}
#page-about p {
	font-size: 18px;
	/* letter-spacing: 1px; */

    text-align: justify;
}
.page-about-banner {
	background:url(../images/banner-about.jpg) no-repeat center top fixed;
	background-size:cover;
	height:500px;
	padding-top:10%
}
h2.static {
	font-size:75px;
	margin-top:0;
	color:#fff;
	margin:auto;
	text-align:center;
}
#career-contact {
	padding:30px 0;
}
#career-contact h2 {
	color:#000;
	font-size:30px;
}
#myModal .modal-content {
	background:url(../images/popup_image.jpg) no-repeat center top;
	background-size: cover;
	height:400px;
}
#myModal .modal-content .btn-default {
	margin:15px auto 0;
	background-color:#2aa60a;
	padding:11px 50px;
	color:#fff;
}
#myModal .modal-content .modal-body {
	padding: 50px;
	border: 1px solid #5bbb81;
	margin: 30px;
}
#myModal .modal-content .modal-body .form-control {
	height:45px;
}
#myModal .modal-header {
	border-bottom: 0;
}
#myModal .modal-content label {
	font-size:20px;
	margin-bottom: 11px;
}
#myModal .modal-open .modal {
	overflow-y: visible;
}
/*==========app-dl==========
==================================*/
	
	
	#app-dl {
	background:url(../images/app-dn-bg.jpg) no-repeat center top;
	background-size:cover;
	position:relative;
	height:354px;
	padding-top:20px;
}
#app-dl .app-screen img {
	position: absolute;
	right: 160px;
	width: 50%;
}
.download_oapp {
	margin-top:88px;
}
.produce-right img{ margin-top:60px;}

.produce-right img{ margin-top:90px;}
.green{ background-color:#060;}
.red{ background-color:#900;}
.blue{ background-color:#06F;}
.orange{ background-color:#C60;}


.box {
  width: 100%;

  display: block;
  height:40px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%);
 
  padding: 10px 25px 0 10px;
  color:#fff;
  box-shadow: 1px 2px 1px -1px #777;
  transition: background 200ms ease-in-out;
}

.shadow {
  position: relative;
}
.shadow:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 75%;
  top: 0;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  transition: all 150ms ease-in-out;
}

.box:hover {
  background: linear-gradient(to right, #abbd73 0%, #abbd73 100%);
}

.shadow:hover::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  bottom: 20px;
  z-index: -10;
}

.circle {
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px antiquewhite;
  width: 20px;
  height: 20px;
  display: inline-block;
}
