@charset "utf-8";
/* CSS Document */

/**** RESET CSS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
* {
	magin:0;
	padding:0;
	-webkit-box-sizing:  border-box;
	-moz-box-sizing:  border-box;
	box-sizing:  border-box;
}
html, body, table, th, td, tr, tbody, thead, thead, tfoot, dl, dt, dd, div, em, strong, b, i, sub, sup, ul, ol, li, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, blockquote, a, abbr, acronym, address, big, small, cite, code, del, dfn, font, ins, kbd, q, s, samp, strike, fieldset, form, label, legend, caption, main, section, header, footer, aside, hgroup {
	margin:0;
	padding:0;
	font-style:normal;
	font-weight:normal;
	font-family: 'Poppins', sans-serif;
	font-size:inherit;
	text-decoration:none;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
::-webkit-input-placeholder {
 color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
 color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #ccc;
}

:-ms-input-placeholder {
 color: #ccc;
}
body {
	font-size:13px;
}
strong, b {
	font-weight:bold
}
i, em {
	font-style:italic
}
input {
	width:96%;
	padding:8px;
}
textarea {
	width:100%
}
select {
	width:100%
}
img {
	max-width:100%;
	vertical-align:bottom;
	border:none
}
ul, ol, li {
	list-style:none;
}
/**** RESET CLASSES
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/

#page-wrapper {
	background:#fff;
	text-align:center;
	width:auto;
}
.wrapper, main, .container {
	max-width:1170px;
	margin:auto;
	width:auto;
	text-align:center;
}
main:after, .wrapper:after, footer:after, header:after {
	content:"";
	display:block;
	clear:both;
}
/**** RESET LINKS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
a {
	text-decoration:none;
}
a:hover, a:visited, a:focus, a:active {
	text-decoration:none;
	outline:none;
	box-shadow:none;
}
input:focus {
	border:1px solid #999;
}
input[type="button"], input[type="submit"], button {
	width:auto;
	border:none;
	background:#000;
	padding:5px;
	cursor:pointer;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="button"]:focus, input[type="submit"]:focus, button:hover,, button:focus {
 border:none;
 background:#999;
}
/**** HEADINGS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
h1 {
	font-size:36px;
	margin:30px 0
}
h2 {
	font-size: 36px;
    font-weight: 600;
    color: #58595b;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    padding: 0px 25px;
}
h2:before{ content:''; width:4px; height:40px; position:absolute; top:0; left:0px; background:#ec118b;}
h2:after{ content:''; width:4px; height:40px; position:absolute; top:0; right:0px; background:#ec118b;}
h3 {
	font-size:22px;
	margin:0px;
	color:#231f20;
	padding:30px 0px 18px 0px;
}
h4 {
	font-size:22px;
	margin:0;
	color:#fff;
	margin-bottom:30px;
}
h5 {
	font-size:14px;
	margin:10px 0
}
h6 {
	font-size:12px;
	margin:5px 0
}

textarea{ resize:none;}
.main_button{    color: #414042;
    border: 2px solid #ec118a;
    padding: 10px 40px;
    display: inline-block; font-weight:600; background:none; font-size:16px;}
.main_button:hover{ background:#ec118a !important; color:#fff !important;}
input:focus, textaria:focus, select:focus, button:focus, .form-control:focus{ outline:none !important;}	
.form-control:focus{ border-color:#ccc; box-shadow: none;}
	
	
/*=======================css-start=================
================================================================*/

/*==================header_Slider_section_start======================
===================================================================*/
#slider{ position:relative;}
#slider .owl-theme .owl-nav.disabled+.owl-dots{ margin-top: 0px;
    position: absolute;
    bottom: 50px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;}
#slider .owl-theme .owl-dots .owl-dot span{ background:#fff;}
#slider .owl-theme .owl-dots .owl-dot.active span, #slider .owl-theme .owl-dots .owl-dot:hover span{ background:#ff008e !important;}
#header { position:absolute; top:0px; left:0; right:0px; z-index:999;}
#header .navbar{ margin-bottom:0px;}
#header.inner_header{ background:url(../images/enner-pahe-slider.jpg) no-repeat top center; background-size:cover; position:inherit;}
#header.inner_header .navbar-collapse{ border-bottom:none;}
#header .navbar-nav{ float:right; margin-top: 15px;}
#header .navbar-nav li input{ background:rgba(77, 74, 100, 0.4); border:1px solid #7e6d86; width:250px; color:#fff;}
#header .navbar-nav li input:focus{ outline: none;}
#header .navbar-nav li i{ color:#fff; position:absolute; top:12px; right:20px;}
#header .navbar-nav .profile_menu{ width:auto; padding:5px; border-radius:0px; padding-right:30px; position:relative; background:#ec118b;}
#header .dashboard_menu li{  margin-left: 25px; margin-top:15px;}
/*#header .dashboard_menu li:last-child{ margin:0px;}*/
#header .navbar-nav .profile_menu a{ width:50px; display:block; padding:0px; width:100%}
#header .navbar-nav .profile_menu a span{ margin-top: 4px; display: block; padding: 0px 10px; }
#header .navbar-nav .profile_menu a img{ border-radius:5px; display:inline-block; width:28px; margin-right:10px; vertical-align: middle;}
#header .navbar-nav .profile_menu a i{right: -15px; top: 3px;} 
#header .navbar-nav .profile_menu_opetion{ position:absolute; width: 100%; background: #fff; text-align:left; right: 0px; top: 101%; border:1px solid #ececec; display:none; z-index:99;}
#header .navbar-nav .profile_menu_opetion li{ border-bottom:1px solid #ececec; margin:0px;}
#header .navbar-nav .profile_menu_opetion li:last-child{ border:none;}
#header .navbar-nav .profile_menu_opetion a{ padding:10px; display:block; color:#717171;}
#header .navbar-nav .profile_menu_opetion a:hover, #header .navbar-nav .profile_menu_opetion a:hover i{ color:#fff; background:#ec118b;}
#header .navbar-nav .profile_menu_opetion a i{ position:static; color:#717171; margin-right:5px;}
#header .navbar-nav .profile_menu a:after{ content:''; background:none; height:0px; width:0px;}
#header .navbar-brand{ height:auto;}
#header .navbar-collapse{ padding-left:0px; padding-right:0px; border-bottom:1px solid #fff; padding-bottom:15px;}
#header .nav>li>a{ color:#fff; font-weight:600;padding: 10px 0px 10px 50px; position:relative;}
#header .dropdown-menu>li>a:focus, #header .dropdown-menu>li>a:hover{ background:#ec118a; color:#fff;}
#header .nav>li:last-child a:after{ width:0px; height:0px; right:0px;}
#header .nav>li:nth-child(4) a:after{ width:0px; height:0px; right:0px;}
#header .nav>li>a:hover, #header .nav>li>a:focus{ background:none;}
#header .second_menu{ text-align:right;}
#header .second_menu li{ display:inline-block; margin-top:15px;}
#header .second_menu li a{ color:#fff; padding-left:77px; font-size:16px;}
#header .navbar-header{ margin-top:15px;}
#header .nav li.dropdown .dropdown-menu{ left:49px; min-width: 120px; padding:0px;}
#header .nav li.dropdown .dropdown-menu a{ padding:5px 10px;}
#header .nav li.dropdown .nav .open>a, #header .nav li.dropdown .nav .open>a:focus, #header .nav li.dropdown .nav .open>a:hover{ background:#fff;}
#slider .slider_cuntent{ position: absolute; top: 160px; z-index: 9; width: 100%; margin: auto; left: 0px; right: 0px; text-align:left;}
#slider .slider_cuntent h1{ text-align:left; color:#fff; font-weight:600; font-size:46px; }
#slider .slider_cuntent h1 span{ font-weight:300; display:block; margin-bottom:20px; font-size:32px;}
#slider .slider_cuntent a{ color:#fff; border:2px solid #ff008e; padding:10px 20px; display:inline-block;}
#slider .slider_cuntent .slider_text{ text-align:left; margin-top:130px;}
#countdown{
	width: 300px;
	height: 240px;
	text-align: center;
	margin: auto;
	padding: 24px 0;
	position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
#countdown #tiles{
	position: relative;
	z-index: 1;
}
#countdown #tiles > span{
	width: 92px;
	max-width: 92px;
	font-size: 46px;
	text-align: center;
	font-weight:600;
	color: #111;
	margin: 0 7px;
	padding: 12px 0;
	display: inline-block;
	position: relative;
	color:#fff;
	
}
#countdown .labels{
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	bottom: -30px;
}

#countdown .labels li{
	width: 102px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 70px;
}
#slider .timer_border{ position:absolute; top:18px; left:0px; right:0px;}
/*==================header_Slider_section_End======================
===================================================================*/

/*==================Upcoming_event_section_Start======================
===================================================================*/
#upcoming_event{ padding:100px 0px; background:#f1f2f2;}
#upcoming_event hgroup p{ font-size:18px; font-weight:400; color:#414042; margin-top:20px;}
#upcoming_event hgroup{ margin-bottom:35px;}
#upcoming_event .event_date_bar{ background:url(../images/upcoming-event-border.png) no-repeat center; margin-bottom:35px;}
#upcoming_event .event_date_bar li{ display:inline-block; width:33.33%; text-align:center; text-transform:uppercase; font-weight:600; font-size:14px;}
#upcoming_event .event_date_bar li span{ display:block; margin-top:40px; font-size:18px;}
#upcoming_event .event_box{ margin-bottom:50px;}
#upcoming_event .event_box .event_dtl p{ font-size:16px; color:#3cbfad; margin-top:16px;}
#upcoming_event .event_box .event_dtl{border-bottom: double #ccc; padding-bottom:15px;}

/*==================Past_event_section_Start======================
===================================================================*/
#past_event{ padding:0px 0px 100px 0px; background:#f1f2f2;}
#past_event hgroup p{ font-size:18px; font-weight:400; color:#414042; margin-top:20px;}
#past_event hgroup{ margin-bottom:35px;}
#past_event .event_date_bar{ background:url(../images/upcoming-event-border.png) no-repeat center; margin-bottom:35px;}
#past_event .event_date_bar li{ display:inline-block; width:33.33%; text-align:center; text-transform:uppercase; font-weight:600; font-size:14px;}
#past_event .event_date_bar li span{ display:block; margin-top:40px; font-size:18px;}
#past_event .event_box{ margin-bottom:50px;}
#past_event .event_box .event_dtl p{ font-size:16px; color:#3cbfad; margin-top:16px;}
#past_event .event_box .event_dtl{border-bottom: double #ccc; padding-bottom:15px;}

/*==================Footer_section_Start======================
===================================================================*/
.footer_buildings{ background:url(../images/footer-Building.png) no-repeat 0px center; height: 96px;
    background-size: cover; background-color:#f1f2f2;}
#footer{ background:url(../images/footer_img.jpg) no-repeat top center;}
#footer p, #footer a { color:#fff; font-size:16px; text-align:justify; font-weight:300;}
#footer li{ margin-bottom:15px;}
#footer{ padding-top:40px;}
#footer .foot_bottom{ border-top:1px solid #545c69; padding:25px; margin-top:35px;}
#footer .foot_bottom li{ display:inline-block; text-align:center;}
#footer .foot_bottom li a{ display:block; width:40px; height:40px; border:1px solid #fff; border-radius:50%; margin:0px 10px; line-height:40px; text-align:center;}
/*===================================================================================Home page end=========================================================================================*/

/*=========================Inner page Headding Start===========================*/
.innerpageheading{ margin:80px 0px 60px 0px;}
.innerpageheading ul{ margin-top:20px;}
.innerpageheading li{ display:inline-block; text-align:center; padding:0px 10px; font-size:16px; font-weight:600;}
.innerpageheading li a{ color:#ec118b;}
.innerpageheading h2:before{ content:''; width:4px; height:40px; position:absolute; top:0; left:0px; background:#ec118b;}
.innerpageheading h2:after{ content:''; width:4px; height:40px; position:absolute; top:0; right:0px; background:#ec118b;}
.innerpageheading h2{ font-size:36px; font-weight:600; color:#58595b; text-transform:capitalize; position:relative; display:inline-block; padding:0px 25px;}
/*=========================Inner page Headding End===========================*/
/*==================Event_page_Start======================
===================================================================*/
#event_page{ background:#f1f2f2;}
#event_page .event_boxs{ padding:0px 0px 0px 0px;}
#event_page .event_boxs .event_box{ margin-bottom:50px;}
#event_page .event_boxs .event_box .event_dtl p{ font-size:16px; color:#3cbfad; margin-top:16px;}
#event_page .event_boxs .event_box .event_dtl{border-bottom: double #ccc; padding-bottom:15px; padding-top:1px;}
#event_page .search_bar{    padding: 10px 0px;
    margin-bottom: 30px;
    background: #f1f2f2;}
#event_page .search_bar .form-control{ width:100%; position:relative; height:48px; border-radius:50px; }
#event_page .search_bar i{ position: absolute; right: 20px; top: 4px; background: #ec118b; height: 40px; width: 100px; border-radius: 50px; line-height: 40px; color: #fff;}
#event_page .event_boxs .event_box a:hover .event_dtl{background:#fff;}

#event_page .event_boxs .event_box .event_img_box{ position:relative;}
#event_page .event_boxs .event_box .event_img_box .hover_search{ display:none; background: rgba(0, 0, 0, .6); position: absolute; width: 100%; text-align: center; line-height: 259px;}
#event_page .event_boxs .event_box .event_img_box .hover_search i{font-size: 18px; color: #fff; background: #ec118b; width: 50px; height: 50px; line-height: 50px;  border-radius: 50%;}
#event_page .event_boxs .event_box a:hover .hover_search{ display:block; position: absolute; z-index: 100;}	


img.watermark{position: relative;}
img.watermarks{position: absolute; top: 35px; right: 113px;}

/*==================Event_page_End======================
===================================================================*/

/*==================Event_Detail_page_End======================
===================================================================*/
#event_detail_page{ background:#f1f2f2;}
#event_detail_page .event_detail_box, #event_detail_page .event_video_box, #event_detail_page .event_form_box{background: #fff; padding: 20px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); margin-bottom:70px; padding-bottom:40px;}
#event_detail_page .event_form_box .main_button{ margin-top:30px; padding-left:100px; padding-right:100px; background:#fff;}
#event_detail_page .event_form_box .main_button:focus{ outline:none;}
#event_detail_page .event_detail_box .dtl_img{ border-radius:5px;}
#event_detail_page .event_detail_box .dtl_img img{ border-radius:5px;}
#event_detail_page .event_detail_box .event_dtl_cntnt p span{ display:block; color:#01b9a0; margin-bottom:5px;}
#event_detail_page .event_detail_box .event_dtl_cntnt p{ font-size:16px;}
#event_detail_page .event_detail_box .event_dtl_cntnt ul, #event_detail_page .event_detail_box .event_dtl_cntnt p{ margin-bottom:20px;}
#event_detail_page .event_detail_box .event_dtl_cntnt ul li{ display:inline-block; margin-right:5px; font-size:16px; font-weight:400;}
#event_detail_page .event_detail_box .event_dtl_cntnt ul .point_color{ color:#01b9a0; width:70px; text-transform:uppercase;}
#event_detail_page .event_detail_box .event_dtl_cntnt ul .calendar_icon{ color:#01b9a0;}
#event_detail_page .event_detail_box .event_dtl_cntnt ul li.address{ width: 100%; vertical-align: top;}
#event_detail_page .event_detail_box .event_dtl_cntnt ul li a{ background: #525252; width: 40px; height: 40px; display: inline-block; line-height: 40px; text-align: center; border-radius: 5px; color: #fff;}
#event_detail_page .event_detail_box .event_dtl_cntnt ul li:nth-child(1) a:hover{ background:#475993; }
#event_detail_page .event_detail_box .event_dtl_cntnt ul li:nth-child(2) a:hover{ background:#76a9ea; }
#event_detail_page .event_detail_box .event_dtl_cntnt ul li:nth-child(3) a:hover{ background:#c1155b; }
#event_detail_page .event_detail_box .event_dtl_cntnt{ text-align:left; margin-top:0px;}
#event_detail_page .event_detail_box .event_dtl_cntnt .datetoform li{ display:inline-block; width:48%;}
#event_detail_page .event_detail_box .event_dtl_cntnt .datetoform li ul{ margin-bottom:0px;}
#event_detail_page .event_detail_box .event_dtl_cntnt .datetoform li ul li{ display:block; width:100%;}
#event_detail_page .event_detail_box .event_dtl_cntnt .datetoform li ul li:first-child{ color:#01b9a0; text-transform:uppercase;}
#event_detail_page .event_form_box .textfield li{ display:inline-block; text-align:left;}

#event_detail_page .event_form_box .textfield .type, #event_detail_page .event_form_box .textfield .price, #event_detail_page .event_form_box .textfield .total{ width:23%;}
#event_detail_page .event_form_box .textfield .quantuty{ width:30%;}
#event_detail_page .event_form_box .textfield .textfieldcontent{ border:1px solid #ccc; margin-top:10px;}
#event_detail_page .event_form_box .textfield .textfieldcontent li{ border-left: 1px solid #ccc; height: 50px; line-height: 50px; padding-left: 10px;}
#event_detail_page .event_form_box .textfield .quantuty select{ padding: 10px; border-radius: 5px; border:none; min-height:50px;}
#event_detail_page .event_form_box .textfield .quantuty select:focus{ outline:none;}	
#event_detail_page .event_form_box .textfield .detailtital li, #event_detail_page .event_form_box .textfield .textfieldinput li{ width:33%}
#event_detail_page .event_form_box .textfield .textfieldinput li input{ line-height:initial; border:none;}
#event_detail_page .event_form_box .textfield .textfieldinput li input:focus{ outline:none;}
#event_detail_page .event_video_box{ position:relative;}
#event_detail_page .event_video_box .videolay{ position:absolute; top:20px; left:0px; right:0px;}
#event_detail_page .event_video_box .videolay button{  position:absolute; top:40%; left:0%; right:0%; background:none; width:100px; text-align:center; margin:auto;}
#event_detail_page .event_video_box .videolay button i{ color:#fff; font-size:72px;}
#event_detail_page .event_detail_box .main_button{ background:none;}
#event_detail_page .event_detail_box h3{ font-size:28px; padding:30px 0px 50px 0px; position:relative; }
#event_detail_page .event_detail_box h3:before{    content: "";
    width: 160px;
    margin: auto;
    display: block;
    background: #ec118b;
    position: absolute;
    bottom: 37px;
    left: 0;
    right: 0px;
    z-index: 999999;
    height: 2px;}

/*==================Event_Detail_page_End======================
===================================================================*/


/*==================Login and register page Start======================
===================================================================*/
#login_page{ background:#f1f2f2;}
#login_page .login_form{
background: #fff; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); margin-bottom:70px; padding:60px 0px; margin: 0px 15px; margin-bottom: 60px;}
#login_page h3{ padding:0px; font-size:26px; font-weight:600; color:#414042;}
#login_page .login_form .nav-pills>li{ float:none; display:inline-block;}
#login_page .login_form .nav-pills>li a{ padding:0px 10px 10px 10px; font-size:18px; color:#414042; color: #414042;
    font-weight: 600;}
#login_page .login_form .nav-pills{ margin-bottom:48px; padding-top:55px}
#login_page .login_form .form-control{ height:40px; font-size:16px;}
#login_page .nav-pills>li.active>a, #login_page .nav-pills>li.active>a:focus, #login_page .nav-pills>li.active>a:hover{ background:none; border-bottom:2px solid #ec118b; border-radius:0px; color:#414042;}
#login_page .nav>li>a:focus, #login_page .nav>li>a:hover{ background:none; color:#414042;}
#login_page .login_form .main_button{ background:#fff; padding: 6px 20px; font-size:16px; color:#58595b; font-weight:600;}
#login_page .login_form .main_button:focus{ outline:none;}
#login_page .login_form .forgotpassword{ font-size:16px; color:#01b9a0; display:inline-block; margin-top:30px; border-bottom:1px solid #6d6d6d; padding-bottom:5px;}
#login_page .registerslogan{ display:none;}
#login_page .addtital .registerslogan{ display:block;}
#login_page .addtital .loinslogan{ display:none;} 

#forgot_password_page{ background:#f1f2f2;}
#forgot_password_page .forgot_form{
background: #fff; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); margin-bottom:70px; padding:60px 0px; margin: 0px 15px; margin-bottom: 60px;}
#forgot_password_page .forgot_form h3{ padding:0px; font-size:26px; font-weight:600; color:#414042; margin-bottom: 40px;}
#forgot_password_page .forgot_form .nav-pills>li{ float:none; display:inline-block;}
#forgot_password_page .forgot_form .nav-pills>li a{ padding:0px 10px 10px 10px; font-size:18px; color:#414042; color: #414042;
    font-weight: 600;}
#forgot_password_page .forgot_form .form-control{ height:40px; font-size:16px;}
#forgot_password_page .forgot_form .nav-pills>li.active>a, #forgot_password_page .forgot_form .nav-pills>li.active>a:focus, #forgot_password_page .forgot_form .nav-pills>li.active>a:hover{ background:none; border-bottom:2px solid #ec118b; border-radius:0px; color:#414042;}
#forgot_password_page .forgot_form .nav>li>a:focus, #login_page .nav>li>a:hover{ background:none; color:#414042;}
#forgot_password_page .forgot_form .main_button{ background:#fff; padding: 6px 20px; font-size:16px; color:#58595b; font-weight:600;}
#forgot_password_page .forgot_form .main_button:focus{ outline:none;}
#forgot_password_page .forgot_form .forgotpassword{ font-size:16px; color:#3b3b3c; display:inline-block; margin-top:30px; border-bottom:1px solid #6d6d6d; padding-bottom:5px;}
#forgot_password_page .forgot_form .registerslogan{ display:none;}
#forgot_password_page .forgot_form .addtital .registerslogan{ display:block;}
#forgot_password_page .forgot_form .addtital .loinslogan{ display:none;}
#footer .foot_bottom .footer_social_icon li:nth-child(1) a:hover{ background:#475993; }
#footer .foot_bottom .footer_social_icon li:nth-child(2) a:hover{ background:#76a9ea; }
#footer .foot_bottom .footer_social_icon li:nth-child(3) a:hover{ background:#c1155b; }

/*==================Login and register page_End======================
===================================================================*/

.m-pesa-popup .modal-dialog{ width:850px;}
.m-pesa-popup h4{ text-align:center; color:#414042; font-size: 28px;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 0px; font-weight:600; }  
.m-pesa-popup h5{ font-size:18px; font-weight:600; text-align:left; margin-top:40px;}
.m-pesa-popup ul li{color: #414042;
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 20px;
    position: relative; text-align:justify;}
.m-pesa-popup ul li i{     font-size: 8px;
    margin-right: 10px;
    color: #ec118b;
    position: absolute;
    left: 0px; top:8px;}
.m-pesa-popup .modal-header{ border-bottom:none; padding-bottom:0px;}
.m-pesa-popup .modal-dialog input{ height:40px; border-radius:5px; border:1px solid #ccc;}
.m-pesa-popup .modal-dialog input:focus{ outline:none;}	
.m-pesa-popup .modal-dialog .main_button{ padding:0px 50px; color:#414042; margin-top:20px;}
.m-pesa-popup .modal-content{ padding-bottom:60px;}
.m-pesa-popup .modal-body{ padding:10px 30px 0px 30px}


/*----------------checkbox-----------------------------*/
/*.checkbox-success input[type="radio"]:checked + label::before{   background-color: #ec118b;
    border-color: #ec118b;}*/
	
.checkbox {
    padding-left: 20px;}
	
	.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.checkbox label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}

.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}
/*.checkbox input[type="radio"]:checked + label::after {
    content: "";
    font-family: "FontAwesome";
}*/
.checkbox label::after {
   color: #555555;
    display: inline-block;
    font-size: 11px;
    height: 13px;
    left: 0;
    margin-left: -17px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 3px;
    width: 16px;
}

.checkbox-success input[type="radio"]:checked + label::before {
   
	border: 1px solid #ec118b;
}

.checkbox-success input[type="radio"]:checked + label::after { content:''; display:inline-block;
	height:11px; width:11px; border-radius:50%;
    background-color: #ec118b;
    border-color: #ec118b;
}
.checkbox label::before {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    width: 17px;
}

#exampleevent table{ margin-left:0px !important;}
 /*==================M-Pesa Popup_End======================
===================================================================*/
#add_event_page{ background:#f1f2f2;}
#add_event_page .add_event_form{
background: #fff; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); margin-bottom:70px; padding:35px 20px; margin: 0px 15px; margin-bottom: 60px;}
#add_event_page .add_event_form label{ text-align:left; font-size:16px; color:#58595b; margin-bottom:10px; display:block}
#add_event_page .add_event_form .form-control{ height:40px; background:#f8f8f8; margin-bottom:15px;}
#add_event_page .add_event_form textarea{ height:100px !important;}
#add_event_page .add_event_form .main_button{ background:#fff; font-size:16px;}
#add_event_page .add_event_form .input-append.date.form_datetime, #add_event_page .add_event_form .input-append.date.form_datetime2{ position:relative;}
#add_event_page .add_event_form .input-append.date.form_datetime i{position: absolute; right: 10px; top: 10px; font-size: 16px; color: #7b7b7b;}
.datetimepicker.datetimepicker-dropdown-bottom-left.dropdown-menu {min-width: 337px;
    left: 37.5% !important;
    top: 435px !important;}
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu{min-width: 337px;
    right: 50% !important;
    top: 435px !important;}
	.datetimepicker-dropdown-bottom-right:before, .datetimepicker-dropdown-bottom-right:after{right: 6px; left:auto}
#add_event_page .add_event_form .input-append.date.form_datetime2 i{position: absolute; right: 10px; top: 10px; font-size: 16px; color: #7b7b7b;}
.form_datetime2 .datetimepicker.datetimepicker-dropdown-bottom-left.dropdown-menu{left:60% !important;}
.datetimepicker.datetimepicker-dropdown-bottom-left.dropdown-menu table, .datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu table{ width:100%}
#file-7, #file-8{ display:none;}
#add_event_page .add_event_form .inputfile + label{ max-width: 100%;}
#add_event_page .add_event_form .inputfile-6 + label{ border-color:#ccc;}
#add_event_page .add_event_form .inputfile-6 + label span{ width: 88%;}
#add_event_page .add_event_form .inputfile-6 + label strong{ background:none}
#add_event_page .add_event_form .inputfile + label svg{ color:#7b7b7b;}

 /*==================add_event_page_End======================
===================================================================*/
#dashboard_page{ background:#f1f2f2;}
#dashboard_page .dashboard_content{background: #fff; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); margin-bottom:70px; padding:35px 20px; margin: 0px 15px; margin-bottom: 60px;}
#dashboard_page .dashboard_content .table>tbody>tr>td, #dashboard_page .dashboard_content .table>tbody>tr>th, #dashboard_page .dashboard_content .table>tfoot>tr>td, #dashboard_page .dashboard_content .table>tfoot>tr>th, #dashboard_page .dashboard_content .table>thead>tr>td, .table>thead>tr>th{ text-align:left;}
#dashboard_page .dashboard_content .nav-pills>li{ float:none; display:inline-block; margin:0px;}
#dashboard_page .dashboard_content .nav-pills>li a{ font-size:16px; color:#414042;}
#dashboard_page .dashboard_content .nav-pills>li.active>a, #dashboard_page .dashboard_content .nav-pills>li.active>a:focus, #dashboard_page .dashboard_content .nav-pills>li.active>a:hover{ background:#ec118b; color:#fff;}
#dashboard_page .dashboard_content .nav.nav-pills.text-center{ border-radius:5px; background:#eee; display:inline-block; margin-bottom:50px;} 
#dashboard_page .dashboard_content .table>tbody>tr>td, #dashboard_page .dashboard_content .table>tbody>tr>th, #dashboard_page .dashboard_content .table>tfoot>tr>td, #dashboard_page .dashboard_content .table>tfoot>tr>th, #dashboard_page .dashboard_content .table>thead>tr>td, #dashboard_page .dashboard_content .table>thead>tr>th{ border:none;}
#dashboard_page .dashboard_content .table>thead>tr>th{ font-size:14px; font-weight:600; color:#231f20;}
#dashboard_page .dashboard_content .table>tbody>tr>td, #dashboard_page .dashboard_content .table>tbody>tr>th, #dashboard_page .dashboard_content .table>tfoot>tr>td, #dashboard_page .dashboard_content .table>tfoot>tr>th, #dashboard_page .dashboard_content .table>thead>tr>td, #dashboard_page .dashboard_content .table>thead>tr>th{ font-size:14px; color:#58595b;}
#dashboard_page .dashboard_content .table>tbody>tr>td, #dashboard_page .dashboard_content .table>tbody>tr>th, #dashboard_page .dashboard_content .table>tfoot>tr>td, #dashboard_page .dashboard_content .table>tfoot>tr>th, #dashboard_page .dashboard_content .table>thead>tr>td, .table>thead>tr>th{ padding:15px;}
#dashboard_page .dashboard_content tr:nth-child(odd){ background:#f7f7f7;}
#dashboard_page .dashboard_content thead tr{ background:#fff !important;}
#dashboard_page .dashboard_content .table>tbody>tr>td a{    background: none;
    color: #414042;
    padding: 8px 15px;
    border-radius: 0px;
    display: block;
    text-align: center;
    border: 2px solid #ec118b;
    font-size: 16px;}
	#dashboard_page .dashboard_content .table>tbody>tr>td a:hover{ background:#ec118b; color:#fff;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						/*==================dashboard_End======================
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						===================================================================*/
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page{ background:#f1f2f2;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content{background: #fff; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); margin-bottom:70px; padding:35px 20px; margin: 0px 15pmargin-bottom: 60px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .table>tbody>tr>td, #my_ticket_page .my_ticket_content .table>tbody>tr>th, #my_ticket_page .my_ticket_content .table>tfoot>tr>td, #my_ticket_page .my_ticket_content .table>tfoot>tr>th, #my_ticket_page .my_ticket_content .table>thead>tr>td, #my_ticket_page .my_ticket_content.table>thead>tr>th{ text-align:left;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .nav-pills>li{ float:none; display:inline-block; margin:0px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .nav-pills>li a{ font-size:16px; color:#414042;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .nav-pills>li.active>a, #my_ticket_page .my_ticket_content .nav-pills>li.active>a:focus, #my_ticket_page .my_ticket_content .nav-pills>li.active>a:hover{ background:#ec118b; color:#fff;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .nav.nav-pills.text-center{ border-radius:5px; background:#eee; display:inline-block; margin-bottom:50px;} 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .table>tbody>tr>td, #my_ticket_page .my_ticket_content .table>tbody>tr>th, #my_ticket_page .my_ticket_content .table>tfoot>tr>td, #my_ticket_page .my_ticket_content .table>tfoot>tr>th, #my_ticket_page .my_ticket_content .table>thead>tr>td, #my_ticket_page .my_ticket_content .table>thead>tr>th{ border:none;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .table>thead>tr>th{ font-size:14px; font-weight:600; color:#231f20;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .table>tbody>tr>td, #my_ticket_page .my_ticket_content .table>tbody>tr>th, #my_ticket_page .my_ticket_content .table>tfoot>tr>td, #my_ticket_page .my_ticket_content .table>tfoot>tr>th, #my_ticket_page .my_ticket_content .table>thead>tr>td, #my_ticket_page .my_ticket_content .table>thead>tr>th{ font-size:14px; color:#58595b;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .table>tbody>tr>td, #my_ticket_page .my_ticket_content .table>tbody>tr>th, #my_ticket_page .my_ticket_content .table>tfoot>tr>td, #my_ticket_page .my_ticket_content .table>tfoot>tr>th, #my_ticket_page .my_ticket_content .table>thead>tr>td, #my_ticket_page .my_ticket_content .table>thead>tr>th{ padding:10px 7px; vertical-align:middle;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content tr:nth-child(odd){ background:#f7f7f7;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content thead tr{ background:#fff !important;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .ticket_title{ width:36%;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .ticket_type{ width:18%;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .from_date{ width:18%;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .to_date{ width:18%;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .ticket_search{ width:8.5%; float:right;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .ticket_title input{ border:none; border-right:1px solid #ccc; min-height:42px; width:100%; border-radius: 5px 0px 0px 5px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .ticket_type select{ border:none; border-right:1px solid #ccc; min-height:42px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .from_date input{ border:none; border-right:1px solid #ccc; min-height:42px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .to_date input{ border:none; min-height:42px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .ticket_search button{ border:none; min-height:42px;}

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .ticket_title, #my_ticket_page .my_ticket_content .ticket_type, #my_ticket_page .my_ticket_content .from_date, #my_ticket_page .my_ticket_content .to_date, #my_ticket_page .my_ticket_content .ticket_search{ display:inline-block;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .input-append.date.form_datetime i, #my_ticket_page .my_ticket_content .input-append.date.form_datetime3 i{ position: absolute;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							right: 20px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							top: 14px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							font-size: 16px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							color: #7b7b7b;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.datetimepicker.datetimepicker-dropdown-bottom-top.dropdown-menu{ top:411px !important; left: 52.2% !important; border-radius:0px !important;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.datetimepicker.datetimepicker-dropdown-bottom-bottom.dropdown-menu{ top:411px !important; left: 67.7%% !important; border-radius:0px !important;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							[class*=" datetimepicker-dropdown"]:before, [class*=" datetimepicker-dropdown"]:after{ display:none;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .input-append.date.form_datetime, #my_ticket_page .my_ticket_content .input-append.date.form_datetime3{ position: relative;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .my_ticket_form{ background:#fff; border:1px solid #ccc; margin-bottom:50px; border-radius: 5px; padding: 2px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content input[type="button"], #my_ticket_page .my_ticket_content input[type="submit"], #my_ticket_page .my_ticket_content button{ width:100%; background:#ec118b; color:#fff; border-radius: 0px 5px 5px 0px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .table>tbody>tr>td a{background:none; color: #414042; padding: 8px 15px; border-radius: 0px; display: block; text-align: center; border:2px solid #ec118b; font-size: 16px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						#my_ticket_page .my_ticket_content .table>tbody>tr>td a:hover{ background:#ec118b; color:#fff;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							#my_ticket_page .my_ticket_content .table>tbody>tr>td img{ padding:10px; background:#ccc; border-radius:0px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							#my_ticket_page .my_ticket_content .table>tbody>tr>td img:hover{ background:#ec118b;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							#my_ticket_page .my_ticket_content .table>tbody>tr>td.show_share_icons{ position:relative;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							#my_ticket_page .my_ticket_content .table>tbody>tr>td.show_share_icons .social_show{    position: absolute;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							top: -19px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							background: #ec118b;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							border-radius: 5px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							left: -27px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							display: none;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.nocolor{ background:none !important; padding:0px !important; display:inherit !important; border:none !important;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							#my_ticket_page .my_ticket_content .table>tbody>tr>td.show_share_icons .social_show li{ display:inline-block;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							#my_ticket_page .my_ticket_content .table>tbody>tr>td.show_share_icons .social_show li a{ padding:5px; background:none;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							#my_ticket_page .my_ticket_content .table>tbody>tr>td.show_share_icons .social_show li i{ position: static; color:#fff;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							#my_ticket_page .my_ticket_content .table>tbody>tr>td.show_share_icons .social_show i{ position: absolute; bottom: -8px; left: 38px; color: #ec118b;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							#my_ticket_page .my_ticket_content .table>tbody>tr>td.show_share_icons:hover .social_show{ display:block;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.generate_ticket .phone_no{ width:70%; margin:auto; margin-bottom:15px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.generate_ticket .phone_no input{ border:1px solid #ccc; border-radius:5px; }
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.generate_ticket .phone_no_submit button{ background:#fff;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.generate_ticket h4{ font-size:22px; color:#414042; text-transform:capitalize;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.generate_ticket .modal-header .ticket_icon_popup{    background: #fff;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							position: absolute;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							top: -24px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							left: 45%;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							height: 50px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							width: 50px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							line-height: 31px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							border: 2px solid #e5218e;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							border-radius: 50px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.generate_ticket .modal-body {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							position: relative;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							padding: 15px 15px 40px 15px;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.generate_ticket .modal-header{ border-bottom:none;}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							.generate_ticket .modal-dialog{ top:100px;}

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						 /*==================My_Ticket_End======================
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						===================================================================*/
#chick_tickte { background:#f1f2f2;}
#chick_tickte .chick_tickte_form{background: #fff; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); margin-bottom:70px; padding:45px 20px; margin: 0px 15pmargin-bottom: 60px;}
#chick_tickte .chick_tickte_form label {
    text-align: left;
    font-size: 16px;
    color: #58595b;
    margin-bottom: 10px;
    display: block;}
#chick_tickte .chick_tickte_form .form-control {
    height: 40px;
    background: #f8f8f8;
    margin-bottom: 15px;}

