@charset "utf-8";
/* CSS Document */

/* @import url('css/font-awesome.min.css');*/

/* In html file */
/*<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="viewport" content="width=device-width">*/

/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */

@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

@media (max-width: 1599px) {
}

@media (max-width: 1200px) {

	}

@media (max-width: 1069px) {


}

@media (max-width: 992px) {
footer .foot_div{ margin-bottom:30px;}
#contact_sec form{ margin-top:50px;}
#recommonde_sec .text_heading h2 { font-size:55px;}  
#recommonde_sec .text_heading h4 { font-size:22px;}
#recommonde_sec .text_heading2 h5 { font-size:32px;}
#recommonde_sec .text_heading2 h5:before{ background-size:142px;}
#slider_sec .slider_overlay h1{ font-size:36px;}
#slider_sec .slider_show_image, #recommonde_sec .recom_showimg{ width:300px;}
#recommonde_sec .recom_showimg { top:-84px;}
#recommonde_sec .recommonded_inner .recommonded_owl .recommonded_box h6{ font-size:22px;}
}

/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
#recommonde_sec .recommonded_inner .recommonded_owl .recommonded_box h6{ font-size:18px;}
#recommonde_sec .recommonded_inner .recommonded_owl .recommonded_box p{ font-size:14px;}
#recommonde_sec .text_heading h4, #recommonde_sec .text_heading h2, #recommonde_sec .text_heading h6{ text-align:center;}
#slider_sec .slider_show_image{ display:none;}
#slider_sec .slider_overlay h1{ font-size:30px;}
#slider_sec .slider_overlay{ top:4%;}
#our_clientsec, #recommonde_sec{ padding:20px 0px;}
#recommonde_sec .recom_showimg{ display:none;}
#recommonde_sec .text_heading2 h5:before{ display:none;}
#recommonde_sec .text_heading2 h5{ text-align:center; margin-top:30px;} 
h2.mheading{ font-size:32px;}
#recommonde_sec .text_heading h2 { font-size:45px;}
#recommonde_sec .text_heading h4 { font-size:18px;}
#recommonde_sec .text_heading2 h5 { font-size:28px;}
}
@media (max-width: 643px) {
#recommonde_sec .owl-theme .owl-dots .owl-dot span { width:80px;}
.owl-carousel.client_owl .owl-item .row .col-sm-3{     -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;}
	 .owl-carousel.client_owl .owl-item .row .col-sm-3:nth-child(5) a{ border-left:1px solid #e5e5e5;}
	 .owl-carousel.client_owl .owl-item .row .col-sm-3:nth-child(3n) a{ border-right:none;} 
	 .owl-carousel.client_owl .owl-item .row .col-sm-3:nth-child(4) a, .owl-carousel.client_owl .owl-item .row .col-sm-3:nth-child(7) a{ border-left:none;}
.owl-carousel.client_owl .owl-item .row .col-sm-3:nth-child(7), .owl-carousel.client_owl .owl-item .row .col-sm-3:nth-child(8){   -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;} 
#slider_sec .slider_overlay h1{ font-size:20px;}
#slider_sec .slider_overlay a{ font-size:14px;}
#slider_sec .slider_overlay a:after{ display:none;}
}
@media (max-width: 576px) {
footer .row .col-sm-6:first-child .foot_div{ width:40%; margin:auto; margin-bottom:15px;}
.captcha{ margin-bottom:16px;}
#contact_sec form .form-group{ margin-bottom:0px;}
#contact_sec form .form-group input, #contact_sec form .form-group textarea{ margin-bottom:16px;}	
	}
@media (max-width: 554px) {
#recommonde_sec .owl-theme .owl-dots .owl-dot span { width:50px;}
#recommonde_sec .text_heading h2 { font-size:38px;}
#recommonde_sec .text_heading h4 { font-size:16px; margin-bottom:-11px;}
#recommonde_sec .text_heading  h6{ font-size:20px;}
#recommonde_sec .text_heading2 h5 { font-size:20px;}
h2.mheading { font-size:24px;}
#slider_sec .slider_overlay{ position:static; background-color:#ddd; padding:20px 0px; text-align:center;}
#slider_sec .slider_overlay h1{ margin-bottom:10px;}
#slider_sec .slider_overlay h1{ text-align: center; color:#000; margin-top:0px;}
#slider_sec .slider_overlay a{ background-color:#000; width:134px; padding:6px 15px; color:#fff; text-align:center; margin:auto; -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;}
#slider_sec .slider_overlay .container{ text-align:center;}
#our_clientsec .owl-theme .owl-nav.disabled+.owl-dots, .owl-carousel.client_owl { margin-top:30px;}
}


@media (max-width: 480px) {
#recommonde_sec .owl-theme .owl-nav.disabled+.owl-dots{ display:none;}
.owl-carousel.client_owl .owl-item .row .col-sm-3{     -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;}
.owl-carousel.client_owl .owl-item .row .col-sm-3:nth-child(2n) a{ border-right:none; border-left:none;}
.owl-carousel.client_owl .owl-item .row .col-sm-3:nth-child(3) a{ border-left:none;  border-right:1px solid #e5e5e5;}
.owl-carousel.client_owl .owl-item .row .col-sm-3:nth-child(5) a{ border-left:none;}
}
@media (max-width: 400px) {
}
/* Mobile devices */
@media (max-width: 359px) {
}

@media (max-width: 320px) {
}
/**
 * 9.0 Print
 * ----------------------------------------------------------------------------
 */

/* Retina-specific styles. */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

}

@media print {

}
