<?php /*
if (!isset($params['escape']) || $params['escape'] !== false) {
$message = h($message);
}

<!--
<div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
<?= $message ?>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div> -->
 */?>
<script>
toastr.error('<?php echo h($message); ?>');
</script>