<?php/*
if (!isset($params['escape']) || $params['escape'] !== false) {
    $message = h($message);
}
*/
?>
<?php /*
<div class=" col-11 sufee-alert alert with-close alert-success alert-dismissible fade show">
<?= $message ?>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
 */?>

<script>
toastr.success('<?php echo h($message); ?>');
</script>
