<div class="container">
<img src="<?php echo SITE_URL;?>img/logo_new.png" alt="" srcset="" width="10%">
</div>
<div class="container">
<h2><?php echo $page['title']; ?></h2>
<?php echo $page['content']; ?>
</div>