


<?php echo $this->Flash->render(); ?>
<?php  echo $this->Form->create($productnew,array(
 'class'=>'form-horizontal',
 'id'=>'form-my',
 'enctype' => 'multipart/form-data',
 'validate' ));  ?>

 <div class="col-lg-12">
  <div class="card">

    <div class="card-header"><strong>Quick edit</strong></div>
    <div class="card-body card-block">
     <?php $i=0; foreach ($productnewprice as $product_id) { $i++; ?>
      <?php //if ($product_id['approval']!=1) { ?>
        <div class="col-sm-3">
          <div class="form-group">

            <label>
              <?php if ($product_id['approval']==1) { echo " <strong> Approved,</strong>"; }else{ ?>
                <td><input id="silkk<?php echo $product_id['id']; ?>" type="checkbox" onclick="addskill(this)" class="chk selectcheck mycheckbox" data-val="<?php echo $product_id['price']; ?>" name="check[<?php echo $product_id['id']; ?>]" value="<?php echo $product_id['product']['id']; ?>">


                  <input type="hidden" name="data[]" id="skill" value="">
                </td>
              <?php } ?>
              <strong>Product Name </strong></label>
              <?php
              echo $this->Form->input('productnameen', array('class' => 'longinput form-control input-medium','placeholder'=>'Product Name' ,'type'=>'text','label'=>false,'required','autocomplete'=>'off','id'=>'seatsize',
              'value'=>$product_id['product']['productnameen'],'readonly')); ?>
            </div>
          </div>

          <div id="rejd"></div>

          <div class="col-sm-4">
            <div class="form-group">
              <label><strong>User name</strong></label>
              <?php
              echo $this->Form->input('username', array('class' => 'longinput form-control input-medium','placeholder'=>'Product Price' ,'type'=>'text','label'=>false,'autocomplete'=>'off','onkeypress'=>'return isNumberKey(event)','readonly'=>true,'value'=>$product_id['pricerequest']['user']['name'])); ?>
            </div>
          </div>

        <!-- <div class="col-sm-3">
          <div class="form-group">
            <label><strong>Old Price</strong></label>
            <?php
            //echo $this->Form->input('proprice', array('class' => 'longinput form-control input-medium','placeholder'=>'Product Price' ,'type'=>'text','label'=>false,'id'=>'tmpid','required','autocomplete'=>'off','onkeypress'=>'return isNumberKey(event)','readonly'=>true,'value'=>$product_id['product']['price'])); ?>
          </div>
        </div> -->

        <div class="col-sm-4">
          <div class="form-group">
            <label><strong>New Price</strong></label>
            <?php
            echo $this->Form->input('price', array('class' => 'longinput form-control input-medium','placeholder'=>'Product Price' ,'type'=>'text','label'=>false,'required','autocomplete'=>'off','onkeypress'=>'return isNumberKey(event)','id'=>'amount','readonly'=>true,'value'=>$product_id['price'])); ?>
          </div>
        </div>
        <?php //} ?>

<script>

  function addskill(ele){ //alert();
    var total_elegible_skills = '2';
    var fruits =[];
    var other = [];

    $.each($(".selectcheck:checked"), function(){            
      fruits.push($(this).data('val'));
    });
    $('#skill').val(fruits);
  }
</script>

       <script type="text/javascript">
        $("#amount").keyup(function(){
          var mvalue= $("#amount").val(); 
          if(mvalue=='0'){
            var mvalue= $("#amount").val('');
          }
        });
      </script>

    <?php } ?>

    <div class="col-sm-2">
      <?php 
      echo $this->Form->submit('Approve', array('title' => 'Update','div'=>false,
      'class'=>array('btn btn-success btn-sm accepted'))); ?>

    </div>
<!-- <div class="col-sm-2">
  <?php 
  echo $this->Form->submit('Reject', array('title' => 'rejetc','div'=>false,
  'class'=>array('btn btn-primary btn-sm rejectclss'))); ?>
  
</div> -->

</div>
</div>
</div>
<?php  echo $this->Form->end(); ?>







<script>
  $(document).ready(function(){
    $('.rejectclss').click(function(){

      $('#rejd').html('<input type="hidden" name="rejects" value="1">');
 //event.preventDefault();
 $("#form-my").submit();
})
  });
</script>


