<div class="modal-header">
  <h6 class="modal-title">Edit Products</h6>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
   <div class="col-lg-12">
    <div class="card">

      <div class="card-header"><strong>Quick edit</strong></div>
      <div class="card-body card-block">
      <table class="attribute-prices table table-striped table-bordered ">
      <thead>
        <th style="width:22%">Vendor Name</th>
        <th style="width:22%">Product Name</th>
        <th style="width:15%">Attribute</th>
        <th>Price</th>
        <th>Disocunt Price</th>
        <th style="width:15%">In Stock</th>
      </thead>
       <?php $i = 0;
foreach ($vendorAttributes as $attribute) {
    $i++;
    ?>
        <tr>
        <td>
            <?php echo $vendors[$attribute['vendor_id']]; ?>
         </td>
        <td>
            <?php echo $attribute['product']['productnameen']; ?>
         </td>
         <td>
            <?php echo $attributes[$attribute['attribute_id']] . ' ' . $attributes[$attribute['attribute_types']]; ?>
          </td><td>
            <?php echo $attribute['vendor_id']; ?>
          </td><td>
            <?php echo $attribute['discount_price']; ?>
          </td><td>
            <?php echo $attribute['is_stock']; ?>
         </td>
</tr>
   <?php }
?>
</table>

</div>
</div>
</div>

</div>






