@charset "utf-8";

/* CSS Document */





/**

 * 8.0 Media Queries

 * ----------------------------------------------------------------------------

 */



/* Does the same thing as <meta name="viewport" content="width=device-width">,

 * but in the future W3C standard way. -ms- prefix is required for IE10+ to

 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor

 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.

 */

@-ms-viewport {

	width: device-width;

}

@viewport {

	width: device-width;

}





@media (max-width: 1200px) {
.cntct_us .fa-envelope{ display:none;}
.about-block h3{ font-size:30px;}
.border-choose{ margin-top:15px;}
#app-dl .download_oapp{ top:19%;}
header .navbar-right, .navbar-header{ float:none !important; text-align:center;} 
header .logo{ float:none; display:inline-block;}
.navbar-nav>li{ float:none !important; display:inline-block !important;}
.nav>li>a{ padding:10px 8px; font-size:12px !important;}
body{ padding-top:189px;}
}



@media (max-width: 992px) {
.contct-link a{word-break: break-word;}
.produce-block h3, .consume-block h3{ font-size:18px;}
.about-block h3{ font-size:30px;}
#career-contacts ul li{    padding: 0px 10px 0px 20px; text-align:center;}
#career-contacts ul li h3{ font-size:17px;}
#career-contacts ul li:before{ left:3%; display:none;}
#app-dl .download_oapp{ top:17%;}


}



/* Collapse oversized image and pulled images after iPad breakpoint. */



@media (max-width: 767px) {
#career-contact { padding:30px 0px;}
.contct-link ul li,#career-contact h2, #career-contact p { text-align:center;}
.contct-link img{ display:none;}
.cntct_us .cntct-form input, .cntct_us .cntct-form select, .cntct_us .cntct-form textarea{ margin-bottom:10px;}
.cntct_us .cntct-form .form-group{ margin-bottom:0px;}
	h2, #career-contact h2{ font-size:24px;}
#privacy_pg .privacy_div h5{ font-size:17px;}
#privacy_pg .privacy_div p{ font-size:14px;}
body{ padding-top:75px;}
.page-distribute-banner, .page-consume-banner{ height:300px;}
#consume-sec .consume-block{ min-height:inherit !important; margin-bottom:35px;}
.page-produce-banner{ height:auto !important;}
h2.sub-headings:after{ display:none !important;}
h2.sub-headings{ font-size:30px;}
.produce-block{ padding:0px 15px;}
#page-about ul li{ text-align:center;}
header .logo{ float:left;}
header nav ul li a:before{ display:none !important;}
.navbar-nav>li{ text-align:left !important; display:block !important;}
#app-dl .download_oapp{ top:13%;}	
#slider{ margin-bottom:0px;}
.navbar-toggle {

	background-color:#fff; margin-top: 20px;

}



header .logo{ width:172px;}



.container-fluid>.navbar-collapse{ position:relative;}



}
@media (max-width: 643px) {
.page-distribute-banner, .page-consume-banner{ height:200px;}
h2.sub-headings{ font-size:26px;}
.about-block h3{ font-size:24px;}
#page-about p{ font-size:14px;}
h2.sub-heading{ font-size:27px;}
h2.sub-heading:after{ display:none;}
#career-contacts ul li h3{ font-size:15px;}
#app-dl .download_oapp{ left:1%; top:10%;} 
}

@media (max-width: 576px) {
h2, #career-contact h2{ font-size:20px;}
.panel-title{ font-size:14px;}
.panel-default>.panel-heading+.panel-collapse>.panel-body{ font-size:13px;}
h2.sub-heading{ font-size:24px;}
#app-dl .download_oapp { top:8%;}
	
	}
@media (max-width: 480px) {
#privacy_pg .privacy_div h5{ font-size:15px;}
	#app-dl .download_oapp { top:5%;}

}
@media (max-width: 400px) {
	#app-dl .download_oapp { top:1%;}
	}
@media (max-width: 359px) {#app-dl .download_oapp { top:-2%;}}




/* Mobile devices */

@media (max-width: 359px) { 



}



/**

 * 9.0 Print

 * ----------------------------------------------------------------------------

 */



/* Retina-specific styles. */

@media print,

	(-o-min-device-pixel-ratio: 5/4),

	(-webkit-min-device-pixel-ratio: 1.25),

	(min-resolution: 120dpi) {



}



@media print {



}

