 @charset "utf-8";
/* CSS Document */

* {
	magin:0;
	padding:0;
	-webkit-box-sizing:  border-box;
	-moz-box-sizing:  border-box;
	box-sizing:  border-box;
}
html, body, table, th, td, tr, tbody, thead, thead, tfoot, dl, dt, dd, div, em, strong, b, i, sub, sup, ul, ol, li, span, applet, object, iframe, pre, blockquote, a, abbr, acronym, address, big, small, cite, code, del, dfn, font, ins, kbd, q, s, samp, strike, fieldset, form, label, legend, caption, main, section, header, footer, aside, hgroup {
	font-style:normal;
	font-weight:normal;
	font-family: 'Montserrat', sans-serif;
	font-size:inherit;
	text-decoration:none;
}
.container{ max-width:1170px; width:auto; padding:0px 15px;}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
::-webkit-input-placeholder {
 color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
 color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #ccc;
}

:-ms-input-placeholder {
 color: #ccc;
}
input {
}
textarea {
	resize:none;
}
select {
}
img {
	max-width:100%;
	vertical-align:bottom;
	border:none
}
body {
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	color:#6c6c6c;
	background:#fff; padding-top:100px;
}
a, a:hover, a:visited, a:active, a:focus {
	text-decoration:none;
}

h3 {
	color:#000;
	font-size:20px;
	margin:10px 0;
}
/**** DEFAULT
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
body {
	overflow-x: hidden;
	padding-right:0 !important
}
.bg-grey {
	background:#f4f4f4;
}
.bg-info {
	background:#2aa60a;
	color:#fff;
	font-weight:700;
	font-size:18px;
	padding-top:5px;
	padding-bottom:2px
}
a.bg-info:focus, a.bg-info:hover {
	background:#24e99d;
	color:#fff
}
.btn-primary {
	background:#24e99d;
	color:#fff;
	border-color:#20cf8c;
	font-weight:700;
	font-size:18px;
	padding-bottom:1px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus {
	background:#fff;
	color:#24e99d;
	border-color:#20cf8c;
}
* {
	margin:0px;
	padding:0px;
}
/**** HEADER
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
header {
	border-bottom:1px solid #2aa60a;
}
header .navbar-default {
	background-color: transparent;
	border:none;
}
header.home-header {
	border-bottom:0;
}

header a:visited, header a:focus{
color:#000 !important;
}
.m-top-40{ margin-top:40px;}
/**** LOG IN PAGE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.login-bg a:hover {
	color:#2aa60a;
}
/*.login-bg{   Set rules to fill background 
  min-height: 100%;
  min-width: 1024px;
	background: url(../images/login.jpg) no-repeat center top;  background-size: cover; background-attachment:fixed; position:relative;
   
  width: 100%;
  height: 100vh; 
 
}*/
.login-bg header {
	background:none;
	border-bottom:none;
	padding-top:24px;
	margin-bottom:45px;
	position:relative;
	z-index:99;
}
.login-bg header ul li {
	margin-right:25px;
}
.login-bg header ul li:last-child {
	margin-right:0px;
}
.login-bg header ul li a {
	color:#fff;
	font-size:20px;
	font-weight:500;
}
.login-bg .login-box {
	max-width:510px;
	background-color:rgba(255, 255, 255, 0.8);
	margin:auto;
	margin:auto;
	text-align:center;
	padding-top:26px;
	padding-bottom:20px;
}
.login-bg .login-box form {
	padding-top:30px;
	padding-left:50px;
	padding-right:50px;
}
.login-bg .login-box form input {
	width:100%;
	height:45px;
	border-radius:0px;
	border: 1px solid #c2bebe;
	line-height:40px;
}
 .login-bg .login-box form input::-webkit-input-placeholder {
font-size:24px;
color:#c2bdbd;
font-weight:300;
}
.login-bg .login-box form input::-moz-placeholder {
font-size:24px;
color:#c2bdbd;
font-weight:300;
}
.login-bg .login-box form input:-moz-placeholder {   /* Older versions of Firefox */
font-size:24px;
color:#c2bdbd;
font-weight:300;
}
.login-bg .login-box form input:-ms-input-placeholder {
font-size:24px;
color:#c2bdbd;
font-weight:300;
}
.login-bg .login-box form button {
	padding:8px 0px;
	border:none;
	font-size:22px;
	font-weight:500;
}
.login-bg .login-box form button.fb-btn {
	background-color:#3b5992;
	color:#fff;
	font-weight:500;
	margin-bottom:20px;
	margin-top:12px;
}
.login-bg .login-box form button.fb-btn img {
	margin-bottom:2px;
	vertical-align:middle;
}
.login-bg .login-box p {
	font-size:13px;
	color:#000;
	margin:0px;
}
.login-bg .login-box p a {
	color:#161ab0;
}
.login-bg .login-box {
	margin-bottom:63px;
}
.login-bg .login-box span {
	font-size:24px;
	color:#000;
	font-weight:300;
}
.login-bg .login-box span:after {
	background: #000 none repeat scroll 0 0;
	bottom: 10px;
	content: "";
	display: inline-block;
	height: 1px;
	margin-left: 10px;
	vertical-align: middle;
	width: 44%;
}
.login-bg .login-box span:before {
	background: #000 none repeat scroll 0 0;
	content: "";
	display: inline-block;
	height: 1px;
	margin-right: 10px;
	vertical-align: middle;
	width: 44%;
}
/*---------------footer--------------------*/
.login-bg footer {
	padding-bottom:20px;
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:transparent;
	z-index:999;
}
.login-bg footer ul {
	margin:0px;
}
.login-bg footer ul li i {
	color:#fff;
}
.login-bg footer ul li i:hover {
	color:#2aa60a;
	cursor:pointer;
}
.login-bg footer nav ul {
	padding-top:25px;
}
.login-bg footer nav ul li a {
	color:#fff;
	font-size:18px;
	font-weight:500;
}
.login-bg footer nav ul li {
	margin-right:8px;
}
.login-bg footer p, .login-bg footer p a {
	text-align:right;
	font-size:16px;
	color:#fff;
	font-weight:300;
	margin:0px;
}
.login-bg .download_oapp {
	margin-top:50px;
}
.login-bg .download_oapp h2 {
	color:#fff;
	font-size:35px;
	font-weight:bold;
}
.login-bg .app_download {
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:99;
}
.login-bg .back_div {
	position:absolute;
	z-index:9;
	background-color:rgba(0, 0, 0, .3);
	left:0px;
	right:0px;
	bottom:0px;
	top:0px;
}
/*=========header=====
============================*/
header {
	background-color:#fff;
}
header nav ul li a {
	color:#000;
	transition: 0.2s;
	font-size:16px;
	font-weight:300;
	padding:30px 10px;
	display:inline-block;
	position:relative;
	z-index:99;
}
/*header nav ul li a:after{ content:''; display:block; background-color:#2aa60a; position: absolute; left:0px; right:0px; top:0px; width:100%; height:0px; -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s; z-index:-1;}*/
/*header nav ul li a:hover:after{ height:100%;}*/
header nav ul li a:hover, header nav ul li a.active {
	color:#6cb338 !important;
}
header nav ul li a:before{
    content: '';
    display: block;
    transition: 0.2s;
    height: 50px;
    margin: auto;
    text-align: center;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 80%;
    top: -28px;
    left: 0px;
    right: 0px;
    background-position: center;
}

header nav ul li a.home1:before{
    background-image: url(icons/home-address1.png);
}
header nav ul li a.home2:before{
    background-image: url(icons/about-us.png);
}
header nav ul li a.home3:before{
    background-image: url(icons/bambooo.png);
}
header nav ul li a.home4:before{
    background-image: url(icons/moving-truck.png);
}
header nav ul li a.home5:before{
    background-image: url(icons/consumerr.png);
}
header nav ul li a.home6:before{
    background-image: url(icons/phone1.png);
}

header nav ul li a:hover:before{
    content: '';
    display: block;
    height: 50px;
    margin: auto;
    text-align: center;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 80%;
    top: -28px;
    left: 0px;
    right: 0px;
    background-position: center;
}

header nav ul li a.home1:hover:before, header nav ul li a.home1.active:before{
    background-image: url(icons/home-address.png);
}

header nav ul li a.home2:hover:before, header nav ul li a.home2.active:before{
    background-image: url(icons/about-us1.png);
}
header nav ul li a.home3:hover:before, header nav ul li a.home3.active:before{
    background-image: url(icons/bambooo1.png);
}
header nav ul li a.home4:hover:before, header nav ul li a.home4.active:before{
    background-image: url(icons/moving-truck1.png);
}
header nav ul li a.home5:hover:before, header nav ul li a.home5.active:before{
    background-image: url(icons/consumerr1.png);
}
header nav ul li a.home6:hover:before, header nav ul li a.home6.active:before{
    background-image: url(icons/phone.png);
}

header .logo {
	width:200px;
	float:left;
}
header nav ul {
	margin-bottom:0px;
}
footer {
	background-color:#327d1e;
	padding:20px 0px;
}
 footer ul li a, footer p, footer p a {
	color:#fff;
}
footer ul.iconsfooter li a i{
color:#81b529;
font-size:30px !important;
}

footer ul.iconsfooter li:hover a i{
color:#0d801a;
}
footer ul.iconsfooter{
position: fixed;
    color: black;
    top: 45%;
    list-style: none;
    right: 0;
    z-index: 9999;
    background-color: #ffffff;
    padding: 10px;
}
#accordion {
	margin-top:50px;
}
header.home-header {
	position:fixed;
	left:0;
	right:0;
	top:0;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:11; -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.54); 
box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.54);
}
.logo img {
	width: 100%;
	margin-left: 30px !important;
}
.navbar-toggle .icon-bar {
	background-color:#000;
}

header.home-header .navbar-header img {
	background-color:transparent;
	margin-left:0;
}
header .navbar {
	margin-bottom:0;
	-webkit-box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.62);
	box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.62);
	background-color:#fff;
	border-radius:0;
}
header.home-header .navbar {
	box-shadow:none;
}
header .navbar-right {
	margin-top:0px;
	position:relative;
}
header.home-header .navbar-right {
	background-color: transparent; text-transform:capitalize;
}
header.home-header .navbar-right:before {
	display:none;
}
.nav>li>a {
	margin: 0 0px;
	padding-top: 20px;
	padding-bottom: 19px;
	font-size: 15px !important;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
	color:#fff;
}
.hfb {
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	background-color: pink;
}
/**** cntct_us
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
.cntct_us {
}
.cntct_us .cntct-form {
	padding-top:50px;
}
.cntct_us .cntct-form textarea {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	height: 100px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}
.cntct_us .cntct-form input {
	height:42px;
}
.cntct_us .cntct-form select {
	height:42px;
}
.cntct_us .cntct-form input[type="submit"] {
	margin:auto;
	width:150px;
	color:#fff;
	background-color:#2aa60a;
	border:none;
}
.contct-link .col-sm-5:after {
	content:'';
	color:#000;
	width:1px;
	height:50px;
}
.contct-link .col-sm-5:last-child {
	border-right:none;
	padding-right:0px;
}
.contct-link i {
	margin-right:10px;
	margin-left:10px;
	color:#000;
	font-size:18px;
}
.contct-link a {
	font-size:16px;
	color:#000;
}
.contct-link ul li {
	list-style:none;
	margin:25px 0 20px;
	background:#eee;
	padding:12px 10px;
	border-radius:7px;
}
/*========privacy_pg===========
======================================*/
#privacy_pg {
	padding:30px 0px;
}
#privacy_pg .privacy_div h5 {
	font-size:20px;
	font-weight:bold;
}
#privacy_pg .privacy_div p {
	font-size:16px;
}
#privacy_pg .privacy_div {
	padding:20px 0px;
	border-bottom:1px solid #ddd;
}
/*==========faq_pg==========
==================================*/
#faq_pg {
	padding:30px 0;
}
#faq_pg .panel-default>.panel-heading a.collapsed {
	background-color: #323539;
}
#faq_pg .panel-default>.panel-heading {
	background-color:transparent;
	border:none;
	padding:0px;
}
#faq_pg .panel-default>.panel-heading a {
	background-color:#474747;
	display:block;
	padding:10px;
	color:#fff;
}
.faq-head {
	background:url(../images/bread.png) no-repeat center bottom;
	background-size:cover;
	height:241px;
	padding-top:4%;
}
/*==========slider-sec==========
==================================*/	
	
#slider {
	position:relative;
	
	margin-bottom:50px;
}
.navbar-default .navbar-nav>li>a {
	color:#fff;
	font-size: 20px;
	font-weight: 300;
}
h2.sub-heading {
	text-align:center;
	position:relative;
}
.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 10px;
	position: absolute;
	left: 50%;
	bottom: 10px;
}
h2.sub-heading:after {
	background:url(../images/leaf.png)repeat center top;
	content:"";
	display:block;
	clear:both;
	width:222px;
	height:32px;
	margin: 10px auto 30px;
}
h2.sub-headings {
	text-align:center;
	position:relative;
	font-size:38px;
	color:#fff;
	text-shadow: 3px 2px 10px #353535;
}
h2.sub-headings:after {
	background:url(../images/leaf.png)repeat center top;
	content:"";
	display:block;
	clear:both;
	width:222px;
	height:32px;
	margin: 10px auto 30px;
}
/*==========Distribute-sec==========
==================================*/

#distribute-sec {
	background:url(../images/distributerss.jpg) no-repeat center top;
	background-size:cover;
	height:600px;
}
#distribute-sec h2{ color:#fff;}
.distribute-block {
	

	text-align: center;
    border: 2px dotted #ccc;
    padding: 20px;
    min-height: 335px;
}
.distribute-block:hover{ border-color:#060; -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.42);
-moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.42);
box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.42); }

.distribute-block p {
	text-align:justify;
	color:#333;
	-moz-text-align-last: center; /* For Firefox prior 58.0 */
	text-align-last: center;
}
.m-top-30 {
	margin-top:30px;
}
/*==========produce-sec==========
==================================
#produce-sec {
	background:url(../images/produce.jpg) no-repeat center top;
	background-size:cover;
	height:600px;
}*/
.produce-block h3, .produce-block p {
	text-align:center;
	color:#000;
}
.produce-block{ padding:0 50px; margin-bottom:30px;}
#produce-sec h2{ color:#fff;}
.m-top-20{ margin-top:20px;}
.white{ background-color:#fff;}
/*==========consume-sec==========
==================================*/	

.consume-sec-bg {
	background:#fff;
	height:100%;
	padding:30px 0;
}
.consume-block h3, .consume-block p {
	text-align:center;
	color:#000;
}
#consume-sec h2.sub-heading {
	color:#000;
}
.consume-icon {
	width: 80px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    line-height: 60px;
}
.consume-icon img {
	width:60%;
}

.produce-block .consume-icon {
	width: 70px;
    height: 70px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    line-height: 50px;
}
.produce-block .consume-icon img {
	width:50%;
}
/*==========page-about-sec==========
==================================*/
#page-about {
	
	
}
.about-cnt{
    padding: 20px 10px;
    min-height: 160px;
    border: 1px solid #002;}
	.about-cnt:hover{ border-color:#F00;}
.page-about-bg {
	background:rgba(255, 255, 255, 0.8);
	height:100%;
	padding:30px 0;
}
.about-block h3{ font-size:40px;}
.about-block h3 span{color: #3d5e0d;}
.about-cnt img{ display:block; margin:auto;}
.about-cnt h5{    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: #3d5e0d;}
#page-about p {
	font-size: 18px;
	/* letter-spacing: 1px; */

    text-align: justify;
}
.page-about-banner {
	background:url(../images/banner-about.jpg) no-repeat center top ;
	background-size:cover;
	height:400px;
	padding-top:10%
}
.page-produce-banner {
	background:url(../images/produce.jpg) no-repeat center top ;
	background-size:cover;
	height:400px;
	padding-top:10%
}

.page-consume-banner {
	background:url(../images/consume.jpg) no-repeat center top ;
	background-size:cover;
	height:500px;
	padding-top:10%
}

.page-distribute-banner {
	background:url(../images/distributerss.jpg) no-repeat center top ;
	background-size:cover;
	height:400px;
	padding-top:10%
}

#page-about h2 {
	font-size:55px;
	text-shadow: 4px 3px 14px #353535;
	margin-top:0;
	color:#fff;
	margin:auto;
	text-align:center;
}
#career-contact {
	padding:64px 0;
}
#career-contact h2 {
	color:#000;
	font-size:30px;
}
#career-contacts ul{

}

#career-contacts ul li{
	padding: 20px;
    margin: 8px;
    border: 1px solid #fff0;
    padding-left: 48px;
    transition: 0.2s;
    
}

#career-contacts ul li:hover{
    border: 1px solid;
    border-radius: 8px;

}
#career-contacts ul li:before{
    left: 5%;
    font-size: 28px;
    position: absolute;
    font-weight: 900;
    color: #81b529;
}
#career-contacts ul li.address:before{
	content: "\f041";
    font-family: 'FontAwesome';

}

#career-contacts ul li.numbe:before{
	content: "\f095";
    font-family: 'FontAwesome';

}
#career-contacts ul li.emails:before{
	content: "\f0e0";
    font-family: 'FontAwesome';

}

#career-contacts{
margin-top: 25px;
    margin-bottom: -5px;
}

#myModal .modal-content {
	background:url(../images/popup_image.jpg) no-repeat center top;
	background-size: cover;
	height:400px;
}
#myModal .modal-content .btn-default {
	margin:15px auto 0;
	background-color:#2aa60a;
	padding:11px 50px;
	color:#fff;
}
#myModal .modal-content .modal-body {
	padding: 50px;
	border: 1px solid #5bbb81;
	margin: 30px;
}
#myModal .modal-content .modal-body .form-control {
	height:45px;
}
#myModal .modal-header {
	border-bottom: 0;
}
#myModal .modal-content label {
	font-size:20px;
	margin-bottom: 11px;
}
#myModal .modal-open .modal {
	overflow-y: visible;
}
/*==========app-dl==========
==================================*/
	
	
#app-dl {

	position:relative;

	padding-top:20px;
}
#app-dl .download_oapp{ position:absolute; left:0px; right:0px;  top:20%; z-index:9;}
#app-dl .app-screen img {
	position: absolute;
	right: 160px;
	width: 57%;
}
/*#app-dl .download_oapp{
	margin-top: 40px;
}*/

#app-dl .download_oapp h2 {
	font-size: 24px !important;
	font-weight: 900;
	color: #585858;
}
#app-dl .download_oapp h3 {
	font-size: 24px !important;
	font-weight: 100;
	color: #585858;
}
#app-dl .appimg{
	position: absolute;
    top: 234%;
    left: 20%;
    width: 16%;
}

.produce-right img{ margin-top:60px;}

.produce-right img{ margin-top:90px;}
.green{ background-color:#060;}
.red{ background-color:#900;}
.blue{ background-color:#06F;}
.orange{ background-color:#C60;}
.green2{ background-color:#00aaa0;}
.orange2{ background-color:#ffb85f;}


.box {
  width: 100%;

  display: block;
  height:40px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%);
 
  padding: 10px 25px 0 10px;
  color:#fff;
  box-shadow: 1px 2px 1px -1px #777;
  transition: background 200ms ease-in-out;
}

.shadow {
  position: relative;
}
.shadow:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 75%;
  top: 0;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  transition: all 150ms ease-in-out;
}

.box:hover {
  background: linear-gradient(to right, #abbd73 0%, #abbd73 100%);
}

.shadow:hover::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  bottom: 20px;
  z-index: -10;
}

.circle {
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px antiquewhite;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.border-choose {
    background: url(../images/bg-border-choose.png) repeat-x scroll center;
    margin: auto;
    max-width: 480px;
    text-align: center;
    margin-top: 30px;
}
.border-choose .images {
    display: inline-block;
    width: 70px;
    text-align: center;
    background: #fff;
}


#consume-sec .consume-block{ min-height:300px;}

#career-contacts ul li.emails h3{     word-break: break-word; }