<style>
.chngpass{ margin-left:15px}
</style>
<?php //echo $this->Form->create('brand',array('class'=>'form-horizontal','controller'=>'category','action'=>'add','enctype' => 'multipart/form-data','validate' )); ?>
<?php echo $this->Form->create($category, array('enctype' => 'multipart/form-data')) ?>
<?php echo $this->Flash->render(); ?>
<div class="col-lg-12">
<div class="card">
<div class="card-header">
<strong>Category Manager</strong>
<a href="<?php echo SITE_URL; ?>admin/categories/add">
<strong class=" btn btn-info card-title pull-right">Add</strong>
</a>
</div>
<div class="card-body card-block">
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<label for="company" class=" form-control-label">Select Category</label>
  <?php echo $this->Form->control('parent_id', ['class' => 'form-control', 'empty' => '--parent--', 'label' => false, 'options' => $parentCategories]); ?>
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<label for="company" class=" form-control-label">Category Name</label>
  <?php echo $this->Form->control('name', array('class' => 'form-control', 'placeholder' => 'Category Name', 'id' => 'first_name', 'label' => false)); ?>
</div>
</div>


<div class="col-sm-6">
<div class="form-group">
<label for="company" class=" form-control-label">Category-Slug</label>
<?php echo $this->Form->input('slug', array('class' => 'form-control', 'placeholder' => 'Category slug', 'id' => 'slug_data', 'label' => false, 'required')); ?>
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<label for="company" class=" form-control-label">Discount</label>
<?php echo $this->Form->input('discount', array('class' => 'form-control', 'placeholder' => 'Discount', 'id' => 'discount', 'label' => false, 'type' => 'number')); ?>
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<label for="company" class=" form-control-label">GST Code</label>
<?php echo $this->Form->input('gstcode', array('class' => 'form-control', 'placeholder' => 'GST Code', 'id' => 'gstcode', 'label' => false, 'type' => 'text')); ?>
</div>
</div>


<div class="col-sm-6">
<div class="form-group">
<label for="company" class=" form-control-label">HSN Code</label>
<?php echo $this->Form->input('hsncode', array('class' => 'form-control', 'placeholder' => 'HSN Code', 'id' => 'discount', 'label' => false, 'type' => 'text')); ?>
</div>
</div>



<div class="col-sm-6">
<div class="form-group">
<label for="company" class=" form-control-label">Caterory Image</label>
<?php echo $this->Form->input('cat_image', array('class' => 'form-control', 'id' => 'discount', 'label' => false, 'type' => 'file', 'required')); ?>
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<label for="company" class=" form-control-label">Category-Icon</label>
<?php echo $this->Form->input('cat_icon', array('class' => 'form-control', 'id' => 'discount', 'label' => false, 'type' => 'file', 'required')); ?>
</div>
</div>
<div class="col-sm-12">
<strong><u>SEO</u></strong>
</div>
<div class="col-sm-6">
<div class="form-group" id="categoryslug_display">
<label for="company" class=" form-control-label">Seo-Title</label>
<?php echo $this->Form->input('seotitle', array('class' => 'form-control', 'placeholder' => 'Seo Title', 'label' => false, 'required')); ?>
</div>
</div>
<div class="col-sm-6">

</div>
<div class="col-sm-6">
<div class="form-group" id="categoryslug_display">
<label for="company" class=" form-control-label">Seo-Keyword</label>
<?php echo $this->Form->input('seokeyword', array('class' => 'form-control', 'type' => 'textarea', 'placeholder' => 'Seo Keyword', 'label' => false)); ?>
</div>
</div>
<div class="col-sm-6">
<div class="form-group" id="categoryslug_display">
<label for="company" class=" form-control-label">Seo-Description</label>
<?php echo $this->Form->input('seodescripation', array('class' => 'form-control', 'type' => 'textarea', 'placeholder' => 'Seo Description', 'label' => false)); ?>
</div>
</div>




<div class="col-sm-12">
          <div class="form-group">
            <div class="col-sm-1">
             <a href="<?php echo SITE_URL; ?>admin/categories" class="btn btn-primary ">Back</a>
           </div>
           <div class="col-sm-1">
                            <button type="submit" class="btn btn-success">Submit</button>
                          </div>
          </div>
        </div>


</div>
</div>
</div>

</div>
</div>
</div>
<?php echo $this->Form->end(); ?>

</div>
<script src="<?php echo SITE_URL ?>datepicker/jquery-3.2.1.min.js"></script>
<script>
$( document ).ready(function() {
$('#first_name').keyup(function(){
$('#slug_data').val('');

});
$('#slug_data').slugger({
source: '#first_name',
prefix: '',
suffix:'',
});
});
</script>







