<table id="bootstrap-data-table" class="table table-striped table-bordered ">
							<thead>
								<tr>
									<th class="align-top">S.No.</th>
									<th class="align-top">Tran. Date</th>
									<th class="align-top">Description</th>
									<th class="align-top">Amount</th>
									<th class="align-top">Vendor Name</th>
									<th class="align-top">Vendor Mobile</th>
								</tr>
							</thead>
							<tbody >
				
<?php
					if (isset($vendor_payments) && !empty($vendor_payments)) {
					$i = 1; foreach ($vendor_payments as $value) { //pr($value);
					?>
					
										<tr>
											<td><?php echo $i; ?></td>
											<td><?php echo  date('d M Y', strtotime($value['created']));; ?></td>
											<td><?php echo $value['descri'] ?></td>
											<td><?php echo $value['amount']; ?></td>
											<td><?php echo $value['vendor']['name']; ?></td>
											<td><?php echo $value['vendor']['mobile_1']; ?></td>
											


										</tr>
									<?php $i++;  }} else {?>
										<tr>
											<td colspan="12" style="text-align":center>No Data Available</td>
										</tr>
									<?php }?>
								</tbody>
							</table>