
<section id="privacy_pg">
<div class="container">
<h2 class="text-center">Refund Policy</h2>



<div class="privacy_div">
<p class="text-justify">We will not take any return. But we will do exchange.</p></div>


</div>
</section>