@charset "utf-8";
/* CSS Document */

/* @import url('css/font-awesome.min.css');*/

/* In html file */
/*<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="viewport" content="width=device-width">*/

/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

@media (max-width: 1300px) {
	#slider .slider_contant h1{ font-size:56px; margin-bottom:10px;}
	#slider .slider_contant h1 span{ font-size:34px; margin-bottom:10px;}
	#slider .slider_contant a{ margin-top:30px;}
	#slider .slider_contant{ top:130px;}
}

@media (max-width: 1098px) {
	#slider .slider_contant p{ display: block;}
	#slider .slider_contant a{ display: inline-block; margin-top:30px;}
	#slider .slider_contant h1{ font-size:42px; margin:10px;}
	#slider .slider_contant h1 span{ font-size:34px;}
	#slider .slider_contant{ top:130px;}
	.heading p{ font-size:14px; width:70%;}
	.heading h2 span{ font-size:22px; margin-bottom:5px;}
	.heading h2{ font-size:34px; margin:0px 0px 10px 0px;}
	#popular_courses, #about, #fashion_courses, #video, #team, #testimonials, #client, #newsletter, #footer{ padding:40px 0px;}
	#about .heading h2 span{ font-size:22px;}
	#popular_courses .course_box .course_dtl{ padding:0px 15px 15px 15px; }
	#popular_courses .course_box .course_dtl h3, #fashion_courses .course_box .course_dtl h3{ font-size:22px; margin-bottom:5px;}
	#popular_courses .course_box .course_dtl p, #fashion_courses .course_box .course_dtl p{ font-size:16px;}
	#popular_courses .course_box .course_dtl ul li, #fashion_courses .course_box .course_dtl ul li ul li{ font-size:16px;}
	#popular_courses .course_box .course_dtl ul li a, #fashion_courses .course_box .course_dtl ul li a{ font-size:14px; padding:10px 15px;}
	#popular_courses .course_box, #fashion_courses .course_box{ width:100%; margin:auto; margin-bottom:15px;}
	#popular_courses .view_btn, #fashion_courses .view_btn{ margin-top:10px;}
	#about p{ font-size:14px;}
	#about ul li{ font-size:14px; margin-top:10px;}
	#about a{ margin-bottom:20px;}
	#about .about_img img{-webkit-box-shadow: 20px 20px 0px 0px rgba(193, 193, 193, 1);
	-moz-box-shadow: 20px 20px 0px 0px rgba(193, 193, 193, 1);
	box-shadow: 20px 20px 0px 0px rgba(193, 193, 193, 1);}
	#video{ background-size:100%;}
	#video iframe{ height:360px;}
	#testimonials .testi_img_dtl li{ margin-bottom:-20px;}
	#testimonials .testi_img_dtl a{ font-size:16px; }
	#testimonials .testimonials_cntant p{ font-size:16px; line-height:24px; width:80%; padding:10px 0 0 0; font-weight:400;}
	#testimonials .testimonials_cntant{ padding:50px 0px;}
	#testimonials .owl-carousel .owl-nav button.owl-prev, #testimonials .owl-carousel .owl-nav button.owl-next{ font-size:30px; top:120px; height:50px; width:50px;}
	#newsletter form label{ font-size:22px; font-weight:600px;}
	#footer{ padding-bottom:0px;}
	#footer .foot_bottom{ margin-top:25px; font-size:14px;}
	#footer .foot_academics ul li a, #footer .foot_courses ul li a, #footer .foot_contact ul li a, #footer .foot_about ul li a, #footer .foot_about ul li{ font-size:15px;}
	#footer .foot_academics ul li, #footer .foot_courses ul li, #footer .foot_contact ul li{ margin-bottom:10px;}
	#footer h3{ font-size:20px;}
	#team .member_team .team_img_bg{ width:195px; height:194px;}
	#team .member_team img{ border-width:9px;}
	}
	
@media (max-width: 900px) {
	#slider .slider_contant{ top:75px;}
	#slider .slider_contant a{ font-size:16px;}
	#popular_courses .course_box .course_dtl p, #fashion_courses .course_box .course_dtl p{ font-size:15px;}
	#popular_courses .course_box .course_dtl h3, #fashion_courses .course_box .course_dtl h3{ font-size:20px;} 
	#team .member_team .team_img_bg{ width:162px; height:161px;}
	#team .member_team img{ border-width:9px;}
	#team .member_team h4{ font-size:17px;}
	#newsletter .btn-default{ padding:6px 26px;}
	#footer h3{ font-size:16px;}
	#footer .foot_academics ul li a, #footer .foot_courses ul li a, #footer .foot_contact ul li a, #footer .foot_about ul li a, #footer .foot_about ul li, #footer .foot_about p{ font-size:12px;}
	#footer .foot_bottom{ margin-top:15px; font-size:11px;}
	#about .heading h2 span{ font-size:16px;}
	.heading h2{ font-size:28px;}
	.heading{ padding-bottom:20px;}
	#about .about_img{ margin-top:0px;}
	#about .about_img img{ box-shadow:none;}
	#header .nav>li>a{ padding-right:35px;}
}	
@media (max-width: 800px) {
	#about ul{ display:none;}
	#header{ padding:10px 0px;}
	.navbar{ min-height:auto;}
	#header .head_info{ padding:10px 0px; padding-top:0px;}
	#header .nav>li>a{ padding-top:10px; padding-bottom:0px; font-size:14px;}
	#header .search{ padding:10px 0px 0px 0px;}
	#header .head_info .site_social .social_icon li a{ height:25px; width:25px;}
	#header .head_info .site_social .social_icon li a i{ font-size:12px;}
	#slider .slider_contant h1{ font-size:36px;}
	#slider .slider_contant h1 span{ font-size:28px;}
	#slider .slider_contant a{ font-size:14px; margin-top:25px; padding:7px 20px;}
	#slider .slider_contant{ top:60px;}
	#popular_courses .course_box .course_dtl h3, #fashion_courses .course_box .course_dtl h3{ font-size:16px;}
	#fashion_courses .course_box .course_dtl{ padding:10px;}
	#popular_courses .course_box .course_dtl p, #fashion_courses .course_box .course_dtl p, #popular_courses .course_box .course_dtl ul li, #fashion_courses .course_box .course_dtl ul li ul li{ font-size:12px;}
	#popular_courses .course_box .course_dtl ul li a, #fashion_courses .course_box .course_dtl ul li a{ font-size:12px; padding:7px 10px;}
	#popular_courses .course_box .course_dtl h3, #fashion_courses .course_box .course_dtl h3{ margin-top:5px;}
	#footer{ padding-top:10px;}
	#popular_courses, #about, #fashion_courses, #video, #team, #testimonials, #client, #newsletter{ padding:30px 0px;}
	
}
/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
	#slider .slider_contant p{ display: block;}
	#slider .slider_contant a{ display: inline-block; margin-top:20px; font-size: 14px; padding: 10px 25px;}
	#slider .slider_contant h1{ font-size:36px; margin:10px;}
	#slider .slider_contant h1 span{ font-size:28px;}
	#slider .slider_contant{ top:60px;}
	#popular_courses .col-xs-6:last-child, #fashion_courses .col-xs-6:last-child{ display:none}
	#newsletter form label{ margin-bottom:20px;}
	#newsletter .btn-default{ margin-top:20px;}
	#popular_courses .course_box .course_dtl{ padding:20px;}
	#popular_courses .course_box .course_dtl h3, #fashion_courses .course_box .course_dtl h3{ font-size:20px;}
	#popular_courses .course_box .course_dtl p, #fashion_courses .course_box .course_dtl p, #popular_courses .course_box .course_dtl ul li, #fashion_courses .course_box .course_dtl ul li ul li{ font-size:15px;}
	#popular_courses .course_box .course_dtl ul li a, #fashion_courses .course_box .course_dtl ul li a{ font-size:14px; padding:10px 15px;}
	#about .heading h2, #about p{ text-align:center}

}

@media (max-width: 643px) {
}

@media (max-width: 480px) {
	#slider .slider_contant a, #slider .slider_contant p{ display:none;}
	#slider .slider_contant h1{ font-size:28px;}
	#slider .slider_contant h1 span, #about .heading h2 span{ font-size:20px;}
	#slider .slider_contant{ top:40px;}
	.heading p{ font-size:14px; width:100%;}
	.heading h2 span{ font-size:16px; margin-bottom:5px;}
	.heading h2{ font-size:24px; margin:0px 0px 10px 0px;}
	#popular_courses, #about, #fashion_courses, #video, #team, #testimonials, #client, #newsletter, #footer{ padding:25px 0px;}
	#popular_courses .course_box .course_dtl{ padding:0px 15px 15px 15px; }
	#popular_courses .course_box .course_dtl h3, #fashion_courses .course_box .course_dtl h3{ font-size:16px; margin-bottom:5px;}
	#popular_courses .course_box .course_dtl p, #fashion_courses .course_box .course_dtl p{ font-size:14px;}
	#popular_courses .course_box .course_dtl ul li, #fashion_courses .course_box .course_dtl ul li ul li{ font-size:13px;}
	#popular_courses .course_box .course_dtl ul li a, #fashion_courses .course_box .course_dtl ul li a{ font-size:14px; padding:5px 10px;}
	#popular_courses .course_box, #fashion_courses .course_box{ width:80%; margin:auto; margin-bottom:15px;}
	#popular_courses .view_btn, #fashion_courses .view_btn{ margin-top:10px;}
	#about p{ font-size:14px;}
	#about ul li{ font-size:14px; margin-top:10px;}
	#about a{ margin-bottom:20px;}
	#about .about_img img{ box-shadow:none;}
	#video{ background-size:100%;}
	#video iframe{ height:200px;}
	#testimonials .testi_img_dtl li{ margin-bottom:-20px;}
	#testimonials .testi_img_dtl a{ font-size:16px; }
	#testimonials .testimonials_cntant p{ font-size:14px; line-height:17px; width:90%; padding:10px 0 0 0; font-weight:400;}
	#testimonials .owl-carousel .owl-nav button.owl-prev, #testimonials .owl-carousel .owl-nav button.owl-next{ font-size:20px; top:120px; height:30px; width:30px;}
	#newsletter form label{ font-size:22px; font-weight:600px;}
	#footer{ padding-bottom:0px;}
	#footer .foot_bottom{ margin-top:25px; font-size:10px;}
	#footer .foot_academics ul li a, #footer .foot_courses ul li a, #footer .foot_contact ul li a, #footer .foot_about ul li a, #footer .foot_about ul li{ font-size:12px;}
	#footer .foot_academics ul li, #footer .foot_courses ul li, #footer .foot_contact ul li{ margin-bottom:7px;}
	#footer h3{ font-size:16px;} 

}

/* Mobile devices */
@media (max-width: 359px) {
	#slider .slider_contant a, #slider .slider_contant p{ display:none;}
	#slider .slider_contant h1{ font-size:18px;}
	#slider .slider_contant h1 span, #about .heading h2 span{ font-size:16px;}
	#slider .slider_contant{ top:20px;}
	#popular_courses .course_box, #fashion_courses .course_box{ width:100%; margin:auto; margin-bottom:15px;}
	
} 
/**
 * 9.0 Print
 * ----------------------------------------------------------------------------
 */

/* Retina-specific styles. */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

}

@media print {

}
