@charset "utf-8";
/* CSS Document */

@import url('fonts.css');
/**** RESET CSS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
* {
	magin:0;
	padding:0;
	-webkit-box-sizing:  border-box;
	-moz-box-sizing:  border-box;
	box-sizing:  border-box;
}
html, body, table, th, td, tr, tbody, thead, thead, tfoot, dl, dt, dd, div, em, strong, b, i, sub, sup, ul, ol, li, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, blockquote, a, abbr, acronym, address, big, small, cite, code, del, dfn, font, ins, kbd, q, s, samp, strike, fieldset, form, label, legend, caption, main, section, header, footer, aside, hgroup {
	margin:0;
	padding:0;
	font-style:normal;
	font-weight:normal;
	font-family: 'Roboto', sans-serif;
	font-size:inherit;
	text-decoration:none;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
::-webkit-input-placeholder {
 color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
 color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #ccc;
}

:-ms-input-placeholder {
 color: #ccc;
}
body {
	font-size:13px;
}
strong, b {
	font-weight:bold
}
i, em {
	font-style:italic
}
input {
	width:96%;
	padding:8px;
}
textarea {
	width:100%
}
select {
	width:100%
}
img {
	max-width:100%;
	vertical-align:bottom;
	border:none
}
ul, ol, li {
	list-style:none;
}
/**** RESET CLASSES
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/

#page-wrapper {
	background:#fff;
	text-align:center;
	width:auto;
}
.wrapper, main, .container {
	max-width:1170px;
	margin:auto;
	width:auto;
	text-align:center;
}
main:after, .wrapper:after, footer:after, header:after {
	content:"";
	display:block;
	clear:both;
}
/**** RESET LINKS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
a {
	text-decoration:none;
	color:#e10b01
}
a:hover, a:visited, a:focus, a:active {
	color:#00469b;
	text-decoration:none;
}
input:focus {
	border:1px solid #999;
}
input[type="button"], input[type="submit"], button {
	width:auto;
	border:none;
	background:#000;
	padding:5px;
	cursor:pointer;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="button"]:focus, input[type="submit"]:focus, button:hover,, button:focus {
 border:none;
 background:#999;
}
/**** HEADINGS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------****/
h1 {
	font-size:36px;
	margin:30px 0
}
h2 {
	font-size:44px;
	margin:0px 0px 30px 0px;
	font-weight:700;
	color:#303643;
}
h2 span {
	display:block;
	font-size:24px;
	color:#d23c43;
	font-weight:700;
	margin-bottom:10px;
}
h3 {
	font-size:24px;
	margin:15px 0
}
h4 {
	font-size:18px;
	margin:10px 0
}
h5 {
	font-size:14px;
	margin:10px 0
}
h6 {
	font-size:12px;
	margin:5px 0
}
/*=======================css-start=================
================================================================*/
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{ outline:none;}

.heading {
	padding-bottom:30px;
}
.heading h2 {
	font-size:44px;
	margin:0px 0px 20px 0px;
	font-weight:700;
	color:#303643;
}
.heading h2 span {
	display:block;
	font-size:24px;
	color:#d23c43;
	font-weight:700;
	margin-bottom:10px;
}
.heading p {
	font-size:18px;
	color:#727272;
	width:55%;
	margin:auto;
}
/*==================header_section======================
===================================================================*/
#header {
	background:#fff;
	padding:0px 0px;
}
#header .nav .dropdown_menu_il .col-sm-2{ width:20%;}
#header .head_info {
	padding-bottom:15px;
	border-bottom:1px solid #e5e5e5;
}
#header .head_info li {
	display:inline-block;
	text-align:left;
	margin-right:10px;
}
#header .head_info .site_info {
	margin-top:25px;
}
#header .head_info .site_info li {
	font-size:14px;
	color:#797979;
}
#header .head_info .site_info li i {
	font-size:14px;
	margin-right:5px;
	color:#797979;
}
#header .head_info .site_social .btn-default {
	padding:2px 5px;
	border:1px solid #ccc;
	background:none;
	color:#797979;
}
#header .head_info .site_social .btn-default:hover {
	background:#d23c43;
	color:#fff;
	border-color:#fff
}
#header .head_info .site_social{ margin-top:15px;}
#header .head_info .site_social li{ margin-right:0px !important; margin-left:10px !important;}
#header .head_info .site_social .social_icon li a {
	height:30px;
	width:30px;
	border-radius:50%;
	display:inline-block;
	color:#fff;
}
#header .head_info .site_social .social_icon li:nth-child(1) a {
background:#4e71a8
}
#header .head_info .site_social .social_icon li:nth-child(2) a {
background:#d23c43
}
#header .head_info .site_social .social_icon li:nth-child(3) a {
background:#1cb7eb
}
#header .head_info .site_social .social_icon li:nth-child(4) a {
background:#444444
}
#header .head_info .site_social .social_icon li:nth-child(5) a {
background:#00c032
}
#header .head_info .site_social .social_icon li a i {
color#fff;
	font-size:14px;
	margin:8px;
}
#header .navbar-collapse {
	padding:0px;
	width:84%;
}
#header .navbar-brand{ width:auto; padding:15px 0px;}
#header .navbar-default {
	background:none;
	border:none;
}
#header .navbar-default .navbar-nav>.active>a, #header .navbar-default .navbar-nav>.active>a:focus, #header .navbar-default .navbar-nav>.active>a:hover {
	background:none;
	color:#d23c43;
}
#header .navbar-default .navbar-nav>li>a:hover {
	color:#d23c43;
	background:none;
}
#header .search {
	padding:27px 0px;
	color:#292929;
	position:relative
}
#header .search a {
	color:#292929;
	font-size:16px;
}
#header .navbar-default .navbar-nav>li>a {
	color:#4a4a4a;
	font-size:15px;
}
#header .nav>li>a {
	padding-left:0px;
	padding: 28px 32px;
}
#header .nav>li:first-child a{ padding-left:0px;}
#header .navbar {
	margin-bottom:0px;
}
#header .dropdown-menu{ top:99%; border:none; padding:0px;}
#header .dropdown-menu li a{ padding-top:5px; padding-bottom:5px;}
#header .search_bar {
	display:none;
	background:#fff;
	z-index:999;
	position:absolute;
	right:0px;
	top:137px;
	width:300px;
	padding:20px 0px;
}
#header .search_bar input {
	width:75%;
}
.search_bar button {
	width:15%;
	padding: 10px 0px;
	background:#d23c43;
	color:#fff;
}

#header .mega-dropdown {
  position: static !important;
}
#header .mega-dropdown-menu {
    padding: 0px 0px 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
	top:136px;
}
#header .mega-dropdown-menu .col-sm-2 ul li{ text-transform:lowercase;}
#header .mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
#header .mega-dropdown-menu > li > ul > li {
  list-style: none;
}
#header .mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
#header .mega-dropdown-menu > li ul > li > a:hover,
#header .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
#header .mega-dropdown-menu .dropdown-header {
  font-size: 16px;
  color: #d23c43;
  padding: 5px 0px 5px 5px;
  line-height: inherit;
}
#header .mega-dropdown-menu span{ display:block !important; font-size: 12px; color:#000 !important;}
#header .mega-dropdown-menu > li > ul > li > a:hover{ color:#d23c43;}

#header .carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
#header .left.carousel-control {
  right: 30px;
  left: inherit;
}
#header .carousel-control .glyphicon-chevron-left, 
#header .carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.navbar-brand{ height:auto; padding-top:15px;}
/*==================header_section_end======================
===================================================================*/

/*==================Slider_section======================
===================================================================*/
#slider {
	position:relative;
}
#slider .owl-dots {
	display:none;
}
#slider .slider_contant {
	position:absolute;
	top:150px;
	left:0px;
	right:0px;
	z-index:999;
}
#slider .slider_contant h1 {
	color:#fff;
	font-size:58px;
	font-weight:700;
}
#slider .slider_contant h1 span {
	font-size:44px;
	display:block;
}
#slider .slider_contant p {
	color:#fff;
	font-size:26px;
	font-weight:700;
}
#slider .slider_contant a {
	font-size:18px;
	color:#fff;
	background:#d23c43;
	padding:10px 30px;
	display:inline-block;
	margin-top:30px;
}
/*==================Slider_section_end======================
===================================================================*/
#graduating_show{ padding:50px; background:#f2f2f2;}
#graduating_show h3{ text-align:left; font-size:28px; font-weight:400; color:#303643}
#graduating_show h3 span{font-size:28px; font-weight:600; color:#d23c43;}
#graduating_show p{ text-align:justify; font-size:16px; color:#727272; }
#graduating_show .show_text{ border-right:1px solid #ccc; padding-right:70px;}


/*==================Most_Popular_Courses======================
===================================================================*/
#popular_courses {
	padding:45px 0px;
	background:#fff;
}
#popular_courses .course_box {
	background:#fff;
	border-radius:10px;
	border:1px solid #e8e8e8;
}
#popular_courses .course_box .course_dtl {
	padding:15px;
}
#popular_courses .course_box .course_dtl h3 {
	font-size:21px;
	font-weight:700;
	color:#686767;
	text-align:left;
	margin-top: 0px;
}
#popular_courses .course_box .course_dtl h3 span {
	color:#d23c43;
	font-weight:700;
}
#popular_courses .course_box .course_dtl p {
	color:#939393;
	font-size:16px;
	text-align:left;
}
#popular_courses .course_box .course_dtl ul {
	margin-top:15px;
}
#popular_courses .course_box .course_dtl ul li {
	display:inline-block;
	color:#d23c43;
	font-size:16px;
	font-weight:500;
}
#popular_courses .course_box .course_dtl ul li span {
	color:#787878;
	font-weight:500;
	display:block;
	text-align:left;
}
#popular_courses .course_box .course_dtl ul li a {
	color:#d23c43;
	border:1px solid #d23c43;
	padding:10px 18px;
	display:inline-block;
}
#popular_courses .view_btn {
	margin-top:40px;
	background:#d23c43;
	color:#fff;
	padding:10px 30px;
	display:inline-block;
	text-transform:uppercase;
}
/*==================Most_Popular_Courses_end======================
===================================================================*/

/*==================About_Us======================
===================================================================*/
#about {
	background:url(http://192.168.5.119/nvouge/homeimg/about_bg.jpg) no-repeat 0 0;
	padding:45px 0px;
	background-size:cover;
}
#about .heading h2 {
	text-align:left;
	color:#fff;
	margin-bottom:0px;
}
#about .heading h2 span {
	font-weight:400;
	color:#fff;
	font-size:22px;
}
#about p {
	color:#fff;
	font-size:16px;
	text-align:justify;
}
#about ul {
	margin-top:20px;
}
#about ul li {
	text-align:left;
	font-size:20px;
	color:#fff;
	list-style: disc;
	margin-left:22px;
}
#about a {
	text-align:left;
	color:#d23c43;
	border:1px solid #d23c43;
	padding:10px 18px;
	display:inline-block;
	margin-top:20px;
	display:inline-block;
}
#about .about_img {
	margin-top:0px;
}
#about .about_img img {
	border-radius:10px;
	border:2px solid #dadada;
	-webkit-box-shadow: 30px 30px 0px 0px rgba(193, 193, 193, 1);
	-moz-box-shadow: 30px 30px 0px 0px rgba(193, 193, 193, 1);
	box-shadow: 30px 30px 0px 0px rgba(193, 193, 193, 1);
}
#about .about-left{ text-align:left}
/*==================About_Us_end======================
===================================================================*/

/*==================Fashion_Courses======================
===================================================================*/
#fashion_courses {
	padding:45px 0px;
	background:#f2f2f2;
}
#fashion_courses .course_box {
	background:#fff;
	border-radius:10px;
}
#fashion_courses .course_box .course_dtl {
	padding:20px 25px;
}
#fashion_courses .course_box .course_dtl h3 {
	font-size:21px;
	font-weight:700;
	color:#686767;
	text-align:left;
}
#fashion_courses .course_box .course_dtl h3 span {
	color:#d23c43;
	font-weight:700;
}
#fashion_courses .course_box .course_dtl p {
	color:#939393;
	font-size:16px;
	text-align:left;
}
#fashion_courses .course_box .course_dtl ul {
	margin-top:15px;
}
#fashion_courses .course_box .course_dtl ul li {
	display:inline-block;
	color:#d23c43;
	font-size:16px;
	font-weight:500;
}
#fashion_courses .course_box .course_dtl ul li ul {
	margin-top:0px;
}
#fashion_courses .course_box .course_dtl ul li ul li {
	display:block;
	text-align:left;
}
#fashion_courses .course_box .course_dtl ul li span {
	color:#787878;
	font-weight:500;
	text-align:left;
}
#fashion_courses .course_box .course_dtl ul li a {
	color:#d23c43;
	border:1px solid #d23c43;
	padding:10px 18px;
	display:inline-block;
}
#fashion_courses .view_btn {
	margin-top:40px;
	background:#d23c43;
	color:#fff;
	padding:10px 30px;
	display:inline-block;
	text-transform:uppercase;
}
/*==================Fashion_Courses_end======================
===================================================================*/

/*==================Video======================
===================================================================*/
#video {
	background:url(http://192.168.5.119/nvouge/homeimg/video-bg.jpg) no-repeat 0 0;
	padding:45px 0px;
	background-size:cover;
}
#video iframe {
	border-radius:10px;
}
/*==================Video_end======================
===================================================================*/

/*==================Our_Leadership======================
===================================================================*/
#team {
	background:#f4f4f4;
	padding:45px 0px;
}
#team .member_team h4 {
	font-size:24px;
	color:#303643;
	font-weight:700;
	margin:5px 0px;
}
#team .member_team a {
	color:#c25934;
	font-size:14px;
	margin-bottom:5px;
	display:inline-block;
	font-weight:600;
}
#team .member_team .team_img_bg {
	width:235px;
	height:234px;
	border:1px solid #f0d360;
	border-radius:50%;
	margin:auto;
	margin-bottom:20px;
}
#team .member_team img {
	border-radius:50%;
	border: 10px solid #f4f4f4;
}
#team .member_team li {
	display:inline-block;
}
#team .member_team li a {
	color:#84a4b2;
	padding:0px 5px;
}
#team .member_team .team_img_bg:hover{ border:3px solid #f0d360;}
#team .member_team .team_img_bg:hover img{ border:8px solid #f4f4f4;}
#team .member_team li a i {
	font-size:14px;
}
#team .team_member .btn-defult{ color:#fff; background:#d23c43; padding:10px 30px; margin-top:30px; display:inline-block;}

/*==================Our_Leadership_end======================
===================================================================*/

/*==================Tesitimonials======================
===================================================================*/
#testimonials {
	background:url(http://192.168.5.119/nvouge/homeimg/testimonials-bg.jpg) no-repeat 0 0;
	padding:45px 0px;
	background-size:cover;
}
#testimonials .heading h2 {
	color:#fff;
	margin-bottom:0px;
}
#testimonials .testi_img_dtl {
	width:300px;
	margin:auto;
	margin-bottom:10px;
}
#testimonials .testi_img_dtl li {
	display:inline-block;
	margin-right:20px;
}
#testimonials .testi_img_dtl li:last-child {
	margin-right:0px;
}
#testimonials .testi_img_dtl a {
	font-size:22px;
	color:#d23c43;
	font-weight:700;
	text-align:left
}
#testimonials .testi_img_dtl a span {
	font-size:16px;
	color:#656565;
	display:block;
	text-align:left
}
#testimonials .testimonials_cntant {
	background:#fff;
	border-radius:10px;
	padding:30px 0px;
	margin:auto;
	width:80%;
}
#testimonials .testimonials_cntant img {
	width:auto;
	border-radius:50%;
}
#testimonials .testimonials_cntant p {
	font-size:16px;
	font-weight:500;
	color:#636363;
	line-height:30px;
	width:90%;
	margin:auto;
	padding:20px 0px 30px 0px;
	text-align:center;
}
#testimonials .owl-dots {
	display:block;
}
#testimonials .owl-carousel .owl-nav button.owl-next {
	font-size:30px;
	background:#ccc;
	width:50px;
	height:50px;
	border-radius:10px;
	position:absolute;
	right:0px;
	top:120px;
}
#testimonials .owl-carousel .owl-nav button.owl-prev {
	font-size:30px;
	background:#ccc;
	width:50px;
	height:50px;
	border-radius:10px;
	position:absolute;
	left:0px;
	top:120px;
}
/*==================Tesitimonials_end======================
===================================================================*/

/*==================news======================
===================================================================*/
#news {
	background:#f9f9f9;
	padding:45px 0px;
}
#news .news_dtl {
	background:#f0f0f0;
	border-radius:10px;
	position:relative;
	height:380px;
}
#news .news_dtl img {
	border-radius:10px 10px 0px 0px;
}
#news .news_dtl .news_cntnt {
	width:80%;
	position:absolute;
	left:0px;
	right:0px;
	bottom:20px;
	background:#f8f8f8;
	margin:auto;
	text-align:left;
	border-radius: 10px;
	padding: 15px;
}
#news .news_dtl .news_cntnt span {
	text-align:left;
	color:#d23c43;
	font-size:12px;
}
#news .news_dtl .news_cntnt h5 {
	font-size:18px;
	color:#2a2a2a;
	font-weight:700;
}
#news .news_dtl .news_cntnt p {
	font-size:16px;
	color:#939393;
	line-height:20px;
}
#news .news_dtl .news_cntnt a {
	color:#d23c43;
	margin-top:10px;
	display:inline-block;
	font-size:16px;
	font-weight:500;
}
/*==================News_end======================
===================================================================*/

/*==================Client======================
===================================================================*/
#client {
	background:#fff;
	padding:45px 0px;
}
#client .owl-dots {
	display:none;
}
#client .owl-carousel .owl-nav button.owl-next {
	font-size:30px;
	background:#ccc;
	width:50px;
	height:50px;
	border-radius:10px;
	position:absolute;
	right:0px;
	top:150px;
}
#client .owl-carousel .owl-nav button.owl-prev {
	font-size:30px;
	background:#ccc;
	width:50px;
	height:50px;
	border-radius:10px;
	position:absolute;
	left:0px;
	top:150px;
}
/*==================Client_end======================
===================================================================*/

/*==================Newsletter======================
===================================================================*/
#newsletter {
	background:#dcdcdc;
	padding:45px 0px;
}
#newsletter .form-group {
	margin-bottom:0px;
}
#newsletter form label {
	font-size:30px;
	color:#343434;
	text-align:left;
	padding:0px;
}
#newsletter .form-control {
	border-radius:0px;
	box-shadow:none;
	margin-top:5px;
}
#newsletter .form-control:focus {
	border-color:#ccc;
}
#newsletter .btn-default {
	border-radius:0px;
	padding:6px 40px;
	background:#d23c43;
	color:#fff;
	font-weight:700;
	margin-top:5px;
}
/*==================Newsletter_end======================
===================================================================*/

/*==================Footer======================
===================================================================*/
#footer {
	background:#3d3d3d;
	padding:45px 0px;
	text-align:left;
	padding-bottom:0px;
}
#footer .foot_about, #footer .foot_academics, #footer .foot_courses, #footer .foot_contact {text-align:left;}
#footer h3 {
	color:#fff;
	font-size:20px;
	font-weight:500;
	border-bottom:2px solid #fff;
	width:auto;
	display:inline-block;
	padding-bottom:10px;
	text-align:left;
}
#footer .foot_about p {
	color:#fff;
	font-size:15px;
	font-weight:300;
	text-align:left;
}
#footer .foot_about ul {
	margin-top:15px;
}
#footer .foot_about ul li {
	margin-bottom:10px;
	text-align:left;
}
#footer .foot_about ul li a, #footer .foot_about ul li {
	color:#fff;
	font-size:15px;
}
#footer .foot_about ul li a i, #footer .foot_about ul li i {
	margin-right:5px;
}
#footer .foot_academics ul, #footer .foot_courses ul #footer .foot_contact ul {
	margin-top:0px;
}
#footer .foot_academics ul li, #footer .foot_courses ul li, #footer .foot_contact ul li {
	margin-bottom:10px;
	text-align:left
}
#footer .foot_academics ul li a, #footer .foot_courses ul li a, #footer .foot_contact ul li a {
	color:#fff;
	font-size:15px;
}

#footer .foot_bottom {
	background:#262626;
	padding:10px 0px;
	margin-top:45px;
	text-align:center;
	color:#fff;
	font-weight:300;
}
#footer .foot_bottom a {
	color:#fff;
	font-weight:600;
}
/*==================Footer_end======================
===================================================================*/

/*==================================================Home_Page_End==============================================*/

/*============================================= ===about_Page_start============================================*/
#about_us_page .about_cntnt {
	background:#fff;
	padding:45px 0px;
	background-size:cover;
}
#about_us_page .about_cntnt .heading {
	padding-bottom:20px;
}
#about_us_page .about_cntnt .heading h2 {
	text-align:left;
	color:#505050;
	margin-bottom:0px;
}
#about_us_page .about_cntnt .heading h2 span {
	font-weight:400;
	color:#505050;
	font-size:22px;
}
#about_us_page .about_cntnt p {
	color:#505050;
	font-size:16px;
	text-align:justify;
	margin-bottom:10px;
	
}
#about_us_page .about_cntnt a {
	text-align:left;
	color:#d23c43;
	border:1px solid #d23c43;
	padding:10px 18px;
	display:inline-block;
	margin-top:20px;
}
#about_us_page .about_cntnt .about_img {
	margin-top:0px;
	margin-bottom:30px;
}
#about_us_page .about_cntnt .about_img img {
	border-radius:10px;
	border:2px solid #dadada;
	-webkit-box-shadow: 30px 30px 0px 0px rgba(193, 193, 193, 1);
	-moz-box-shadow: 30px 30px 0px 0px rgba(193, 193, 193, 1);
	box-shadow: 30px 30px 0px 0px rgba(193, 193, 193, 1);
}
#about_us_page .about_cntnt .truncate .moreless {
	padding: 0px;
	margin: 0px;
	display: block;
	color: #d23c43;
	border: none;
	position: absolute;
	bottom: 9px;
	right: 300px;
}
#about_us_page .about_cntnt .truncate .moreless.less {
	right: 300px;
	bottom:10px;
	font-size:16px;
}
#about_us_page .director_words, #about_us_page .mission{ background:#f4f4f4; padding:45px 0px;}
#about_us_page .director_words h3, #about_us_page .mission h3, #about_us_page .belives h3{ font-size:28px; font-weight:500; color:#242424; text-align:left; margin:0px; margin-bottom:25px;}
#about_us_page .director_words p, #about_us_page .mission p{ font-size:16px; color:#2f2f2f; text-align:justify; margin-bottom:10px;}
#about_us_page .director_words p:last-child, #about_us_page .mission p:last-child{ margin-bottom:0px;}
#about_us_page .mission{ background:#fff;}
#about_us_page .mission p{ letter-spacing:0px; line-height:25px;}
#about_us_page .about_counter{ background:#efcf4f; padding:45px 0px;}
#about_us_page .counter
{
    background-color: #efcf4f;
    text-align: center;
	padding:45px 0px;
}

#about_us_page .counter-count
{
    font-size: 74px;
    position: relative;
    color: #ffffff;
    text-align: center;
    display: inline-block;
	font-weight:700;
	text-shadow: 3px 1px 5px rgba(150, 150, 150, 1);
}

#about_us_page .employee-p,.customer-p,.order-p,.design-p
{
    font-size: 26px;
    color: #383838;
    line-height: 34px;
	font-weight:700;
}
#about_us_page .employee-p span, #about_us_page .customer-p span, #about_us_page .order-p span, #about_us_page .design-p span{ color:#d23c43; display:block; font-weight: 700;}
#about_us_page .belives{ background:#f4f4f4; padding:45px 0px;}
#about_us_page .belives li{ text-align:left; font-size:16px; margin-bottom:20px; text-align:justify;}
#about_us_page .belives li:before{content: "\f101";
  font-family: "FontAwesome"; margin-right:10px; color:#d23c43}
#about_us_page #text_show{ display:none; }
#about_us_page #toggle{ background-color:transparent; color:#d23c43; font-size:16px; }
#about_us_page #toggle:focus{ outline:none;}
/*============================================= ===about_Page_end==============================================*/

/*================================================Course_Page_Start============================================*/
#all_courses {
	background:#f7f5ef;
}
.course_slider img {
	width:100%;
}
.slider_contant_inner {
	position:absolute;
	top:240px;
	left:0px;
	right:0px;
	z-index:999;
}
.slider_contant_inner h1 {
	color:#fff;
	font-size:44px;
	font-weight:700;
	margin:10px 0px;
}
.slider_contant_inner .breadcrumb {
	background:none
}
.slider_contant_inner .breadcrumb li {
	color:#fff;
}
.slider_contant_inner .breadcrumb li a {
	color:#fff;
	font-weight:700;
}
.slider_contant_inner .breadcrumb>li+li:before {
	content: '\f101';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration:none;
}
#all_courses .course_box {
	margin-bottom:30px;
	border: 1px solid #e8e8e8;
}
/*================================================Course_Page_End============================================*/

/*===========================================Course_Detail_Page_Start==========================================*/
#course_detail {
}
#course_detail #popular_courses {
	background:#fff;
}
#course_detail .duration li {
	display:inline-block;
	text-align:left;
	font-size:20px;
	color:#d23c43;
	font-weight:700;
	margin-right:30px;
}
#course_detail .duration li span {
	display:block;
	text-align:left;
	font-size:16px;
	color:#787878
}
#course_detail .cors_img {
	margin-top:20px;
}
#course_detail .cors_img img {
	border-radius:10px;
}
#course_detail h2 {
	font-size:22px;
	color:#686767;
	text-align:left;
	margin-top:40px;
	margin-bottom:0px;
}
#course_detail h2 span {
	color:#d23c43;
	display:inline-block;
}
#course_detail p {
	text-align:left;
	line-height:24px;
	font-size:16px;
	color:#939393;
	margin-bottom:20px;
}
#course_detail .nav-tabs>li.active>a, #course_detail .nav-tabs>li.active>a:focus, #course_detail .nav-tabs>li.active>a:hover {
	background-color:#fff;
	color:#d23c43;
	font-weight:500;
}
#course_detail .nav-tabs>li>a {
	font-size:16px;
	color:#575757;
}
#course_detail h3 {
	font-size:18px;
	color:#d23c43;
	text-align:left;
	margin-top:20px;
}
#course_detail .tab-content {
	border-bottom:1px solid #ccc;
	padding-bottom:0px;
}
#course_detail .more_info .btn-default {
	background:#d23c43;
	font-size:18px;
	color:#fff;
	padding:10px 30px;
	display:inline-block;
	margin-top:20px;
}
#course_detail .lft_srch_box {
	background:#f9f9f6;
	border-radius:10px;
	padding:20px;
	border:1px solid #ededec;
}
#course_detail .lft_srch_box h3 {
	text-align:left;
	font-size:18px;
	color:#616161;
	margin: 10px 0 20px 0px;
}
#course_detail .lft_srch_box input {
	width:100%;
	display:inline-block;
	border:1px solid #ccc;
	box-shadow:none;
	height:40px;
	position:relative;
}
#course_detail .lft_srch_box .btn-default:focus {
	background:#fff;
	outline: none;
    box-shadow: none;
}
#course_detail .lft_srch_box .btn-default:hover {
	background:#fff;
}
#course_detail .lft_srch_box button {
	border:1px solid #ccc;
	height:40px;
	position:absolute; right:35px; top:70px;
}
#course_detail .categories {
	background:#f9f9f6;
	margin-top:70px;
	padding:20px 0px;
	padding-bottom:0px;
	border-radius:10px;
	border:1px solid #ededec;
}
#course_detail .categories h3 {
	text-align:left;
	font-size:20px;
	color:#616161;
	margin: 10px 0 20px 13px;
}
#course_detail .panel-default>.panel-heading {
	text-align:left;
}
#course_detail .panel-default>.panel-heading+.panel-collapse>.panel-body {
	text-align:left;
}
#course_detail .categories ul li {
	padding:10px 0px;
	border-bottom: dashed 1px #ccc;
}
#course_detail .categories ul li a, #course_detail .categories ul li a:hover{ color:#858585;}
#course_detail .panel-default>.panel-heading {
	border:none;
	background-color:#f9f9f6;
}
#course_detail .panel-default {
	border:none;
}
#course_detail .panel-default h4 a {
	color:#858585;
	font-size:16px;
}
#course_detail .quick_contact {
	background:#f9f9f6;
	margin-top:50px;
	padding:20px;
	padding-bottom:0px;
	border-radius:10px;
	border:1px solid #ededec;
}
#course_detail .quick_contact h3 {
	text-align:left;
	font-size:20px;
	color:#616161;
	margin: 20px 0px;
}
#course_detail .btn-default:hover {}

.form-control:focus {
	box-shadow:none;
	border-color:#e3e3e3;
}
/*=======================================Course_Detail_Page_end==========================================*/

/*===========================================our_team_Page_Start=============================================*/
#team_page .team_members{ background:#f4f4f4; padding:45px 0px 15px 0px;}
#team_page .team_members .member_team h4{ font-size:24px; color:#303643; font-weight:700; margin:5px 0px;}
#team_page .team_members .member_team a{ color:#c25934; font-size:14px; margin-bottom:5px; display:inline-block; font-weight:600;}
#team_page .team_members .member_team .team_img_bg{ width:235px; height:234px; border:1px solid #f0d360; border-radius:50%; margin:auto; margin-bottom:20px;}
#team_page .team_members .member_team img{ border-radius:50%; border: 10px solid #f4f4f4;}
#team_page .team_members .member_team li { display:inline-block;}
#team_page .team_members .member_team li a{ color:#84a4b2; padding:0px 5px;}
#team_page .team_members .member_team li a i{ font-size:14px;}
#team_page .team_members .member_team .team_img_bg:hover{ border:3px solid #f0d360;}
#team_page .team_members .member_team .team_img_bg:hover img{ border:8px solid #f4f4f4;}
#team_page .member_team{ margin-bottom:30px;}
.btn.active, .btn:active{ box-shadow:none !important; outline:none !important;}
.btn-default:focus{ box-shadow:none !important; outline:none !important;}
/*===========================================our_team_Page_End=============================================*/

/*===========================================Contact_us_Page_Start=============================================*/
#contact_us{}
#contact_us .contect_dtl{ padding:45px 0px 0px 0px;}
#contact_us .contect_dtl h2{ font-size:44px; text-align:left;}
#contact_us .contect_dtl p{ color:#535353; font-size:16px; text-align:left;}
#contact_us .contect_dtl ul{ text-align:left; margin-top:30px;}
#contact_us .contect_dtl ul li{ margin-bottom:20px;  color:#616161; font-size:16px; font-weight:600;}
#contact_us .contect_dtl ul li a{ color:#616161; font-size:16px; font-weight:600;}
#contact_us .contect_dtl ul li a i, #contact_us .contect_dtl ul li i{ margin-right:10px;}
#contact_us .contect_dtl .social_icon li{ display:inline-block;}
#contact_us .social_icon li a{ height:30px; width:30px; border-radius:50%; display:inline-block; color:#fff;}
#contact_us .social_icon li:nth-child(1) a{ background:#4e71a8}
#contact_us .social_icon li:nth-child(2) a{ background:#e3411f}
#contact_us .social_icon li:nth-child(3) a{ background:#1cb7eb}
#contact_us .social_icon li:nth-child(4) a{ background:#444444}
#contact_us .social_icon li:nth-child(5) a{ background:#00c032}
#contact_us .contect_dtl .social_icon{ margin-top:0px;}
#contact_us .contect_dtl .social_icon li a{ color:#fff; font-size:14px; margin:8px;}
#contact_us .contect_dtl .social_icon li a i{ margin-left: 9px; margin-right: 0px; margin-top: 8px;}
#contact_us .contact_social h5{ color:#444444; font-size:20px; font-weight:600; text-align:left; margin-top:60px;}
#contact_us .contact_form{ background:#eeeeee; padding:45px; border-radius:10px;}
#contact_us .contact_form .form-control{ height:44px; border:none;}
#contact_us .contact_form textarea{ height:100px !important;}
#contact_us .map{ margin-top:45px;}
/*============================================Contact_us_Page_end=============================================*/

/*===========================================Team_Detail_Page=============================================*/
#team_dtl_page{}
#team_dtl_page .team_dtl_cntnt{ padding:45px 0px;}
#team_dtl_page .team_dtl_cntnt img{ border-radius:10px;}
#team_dtl_page .team_dtl_cntnt .profile_text{ background:#f4f4f4; padding:20px; border-radius:10px; height:261px}
#team_dtl_page .team_dtl_cntnt .profile_text h3{ color:#d23c43; font-size:24px; font-weight:700; text-align:left; margin:0px;}
#team_dtl_page .team_dtl_cntnt .profile_text h3 span{ text-align:left; color:#656565; font-size:20px; font-weight:500; display:block; margin-top:10px;}
#team_dtl_page .team_dtl_cntnt .profile_text p{ font-size:15px; font-weight:500; text-align:left; color:#656565; margin:20px 0px; }
#team_dtl_page .team_dtl_cntnt .profile_text li{ font-size:16px; font-weight:600; color:#d23c43; text-align:left; margin-bottom:10px;}
#team_dtl_page .team_dtl_cntnt .profile_text li span{ font-size:16px; font-weight:400; color:#656565; text-align:left;}
#team_dtl_page .team_about h3{ font-size:22px; color:#303643; text-align:left; margin-top:50px; font-weight:600; margin-bottom:20px;}
#team_dtl_page .team_about p{ font-size:16px; text-align:justify; color:#656565; }
/*===========================================Team_Detail_Page_end=============================================*/

/*===========================================faq_Page_start=============================================*/
#faq_page .faq_cntnt{ padding:45px 0px;}
#faq_page .faq_cntnt h3{ text-align:left; font-weight:600; font-size:24px; margin-bottom:20px;}
#faq_page #accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}
#faq_page #accordion a {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #303643;
  text-decoration: none; text-align:left;
}
#faq_page #accordion p{ text-align:left; font-size:16px; color:#525252}
#faq_page #accordion .panel-heading a.collapsed:hover,
#faq_page #accordion .panel-heading a.collapsed:focus {
  background-color: #303643;
  color: white;
  transition: all 0.2s ease-in;
}
#faq_page #accordion .panel-heading a.collapsed:hover::before,
#faq_page #accordion .panel-heading a.collapsed:focus::before {
  color: white;
}
#faq_page #accordion .panel-heading {
  padding: 0;
  border-radius: 0px;
  text-align: center;
}
#faq_page #accordion .panel-heading a:not(.collapsed) {
  color: white;
  background-color: #303643;
  transition: all 0.2s ease-in;
 
}

/* Add Indicator fontawesome icon to the left */
#faq_page #accordion .panel-heading .accordion-toggle::before {
  font-family: 'FontAwesome';
  content: '\f00d';
  float: left;
  color: white;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
  margin-right:20px;
}
#faq_page #accordion .panel-heading .accordion-toggle.collapsed::before {
  color: #444;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
}
/*===========================================faq_Page_Endt=============================================*/

/*===========================================career_Page_start=============================================*/
#career_page .career_cntnt{ padding:45px 0px;}
#career_page .career_cntnt h4{ font-size:22px; font-weight:700; text-align:left; margin-bottom:10px; }
#career_page .career_cntnt .form-control{ border-radius:0px;}
#career_page .career_cntnt label{ text-align:left; margin-bottom:4px;}
#career_page .career_cntnt .btn-default{ background:#d23c43; border-radius:0px; color:#fff;}

.press_page{ padding:50px 0px;}
.press_page a img{ border:1px solid #ccc ;}

#testimonials_page .team_members{ padding:40px 0px 60px 0;}
#testimonials_page .team_members .testi_box{ padding:20px;}
#testimonials_page .team_members .testi_box img{ border-radius:10px; border:1px solid #ccc; padding:5px;}
#testimonials_page .team_members .testi_box h4{ font-size:22px; font-weight:600;}
#testimonials_page .team_members .testi_box span{ font-size:18px; }
#testimonials_page .team_members .testi_box p{ font-size:16px; line-height:22px; margin-top:20px; text-align:justify;}
#testimonials_page .team_members .testi_box:nth-child(even){ background:#f1f2f2;}
#testimonials_page .team_members .testi_box:nth-child(odd){ background:#fff;}

.eligibility_criteria{ padding:50px 0px; }
.eligibility_criteria h3{ font-size:26px; padding:0px; margin:0px; margin-bottom:30px;}
.eligibility_criteria p{ font-size:16px;}

/*=======================================Admission process_start=============================================*/
#admission_process{}
#admission_process .team_members{ padding:50px; }
#admission_process .team_members h3{ text-align:left; font-size:26px; font-weight:600; }
#admission_process .team_members .process_one{ border:1px solid #ccc; padding:20px;}
#admission_process .team_members .process_one .no_process{ margin:auto; width:75px; height:75px; border-radius:50%; background:#d23c43; color:#fff; line-height:75px; font-size:32px;}
#admission_process .team_members h4{ font-size:22px; font-weight:600;}
#admission_process .team_members h5{ font-size:16px; font-weight:600; color:#d23c43; text-align:center;}

























.contact_form_right{ position: fixed; right:0px; top:21%; z-index:999999;}
.contact_form_right .box_box{
        float:left;
        overflow:inherit;
        background: none;
		margin-top:190px;
    }
	
	.contact_form_right .box_box .slide-toggle{
       width: auto;
    height: auto;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);
    text-align:center;
    padding:5px 10px;
color:#fff;
background:#d23c43; font-size:18px; font-weight:600;
display:inline-block;
margin-right:-38px;

    }
    /* Add padding and border to inner content
    for better animation effect */
.contact_form_right .box-inner_box{
	    
        width: 400px;
        padding: 30px 20px;
        border: 1px solid #a29415;
		background:#fff;
		display: none;
		float:right;
		
    }
		.contact_form_right h2{ font-size:26px; text-align:left; margin-bottom:20px; }
		.contact_form_right h2 span{ font-size:16px; }
		.contact_form_right .form-group .btn{ background:#d23c43; border-radius:0px; padding-left:20px;  padding-right:20px; color:#fff;} 
#alumni_page .team_members{ padding:50px;}
#alumni_page .team_members h3{ font-size:22px; text-align:center; font-weight:400; margin-bottom:0px;}
#alumni_page .team_members h3 span{ display:block; font-size:18px; font-weight:600; color:#d23c43; margin-top:10px;}
#alumni_page .team_members p{ font-size:16px; padding:10px; text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;  margin-bottom:10px;}
.alumni_box{ border:1px solid #ccc;}